@charset "UTF-8";
/*css 註解*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+TC:wght@100;400&family=Roboto&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.info {
  background-color: #32c8e1;
}

.grap {
  background-color: #9164cd;
}

.success {
  background-color: #4bc887;
}

.warning {
  background-color: #fff04b;
}

.tangerine {
  background-color: #ffbb33;
}

.danger {
  background-color: #dc4b55;
}

.chocolate {
  background-color: #a67c52;
}

.unwork {
  background-color: #bbb;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 51px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

span {
  font-size: 16px;
  line-height: 28px;
}

p {
  font-size: 16px;
  line-height: 28px;
}

.s_text {
  font-size: 14px;
}

.ss_text {
  font-size: 12px;
  line-height: 19px;
}

.border-r {
  border: 10px solid #dc4b55;
}

.border-g {
  border: 10px solid #4bc887;
}

.border-b {
  border: 10px solid #32c8e1;
}

.border-redline {
  border: 8px solid #dc4b55;
}

.border-greenline {
  border: 8px solid #4bc887;
}

.border-blueline {
  border: 8px solid #32c8e1;
}

.border-yellowline {
  border: 8px solid #fff04b;
}

.border-orangeline {
  border: 8px solid #ffbb33;
}

.border-brownline {
  border: 8px solid #a67c52;
}

.btn_s {
  border-radius: 50px;
  width: 200px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
}

.btn_m {
  border-radius: 50px;
  width: 300px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
}

.btn_l {
  border-radius: 50px;
  width: 400px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  cursor: pointer;
}

.btn_s:hover,
.btn_m:hover,
.btn_l:hover {
  background-color: #333;
  border: none;
  color: white;
}

.btn_s:active,
.btn_m:active,
.btn_l:active {
  background-color: #666;
  border: none;
  color: white;
}

.btn_undo {
  border-color: #aaa;
  color: #aaa;
}

.btn_undo:hover {
  background-color: #999;
}

.btn_undo:active {
  background-color: #ccc;
}

@media screen and (max-width: 414px) {
  .btn_s {
    width: 100px;
    height: 40px;
  }
  .btn_m {
    width: 200px;
    height: 40px;
  }
  .btn_l {
    width: 100%;
    height: 40px;
  }
}
.btn_br0_red {
  width: 100px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}

.btn_br0_yellow {
  width: 100px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}

.btn_br0_orange {
  width: 100px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
}

.btn_br0_red:hover {
  background-color: #dc4b55;
  border: none;
  color: white;
}

.btn_br0_yellow:hover {
  background-color: #fff04b;
  border: none;
}

.btn_br0_orange:hover {
  background-color: #ffbb33;
  border: none;
}

.ChangAC {
  width: 230px;
  height: 140px;
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}
.ChangAC svg {
  font-size: 28px;
}

.ChangAC:hover {
  background-color: #d9d9d9;
  border: none;
}

.ChangAC:active {
  background-color: #333;
  border: none;
  color: #fff;
}

.card-w {
  width: 540px;
  border: 10px solid #eeeeee;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 5%;
}
.card-w .img {
  width: 45%;
  padding: 0.8rem;
  height: 100%;
}
.card-w .img img {
  width: 100%;
  height: 100%;
}
.card-w .text {
  padding: 2rem 1rem 2rem 0.5rem;
  width: 55%;
}
.card-w .text .title {
  line-height: 25px;
  border-bottom: 1px dashed #aaa;
}
.card-w .text .title .tag {
  display: inline-block;
  flex-wrap: wrap;
}
.card-w .text .title h3 {
  font-weight: bold;
  font-size: 24px;
}
.card-w .text .title p {
  font-weight: 600;
  color: #333;
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}
.card-w .text .title .time {
  color: #999999;
  position: relative;
  display: block;
  text-align: right;
  margin: 0.2rem 0;
}
.card-w .text .title .blue {
  color: #32c8e1;
  border: 2px solid #32c8e1;
  margin-left: 0.7rem;
}
.card-w .text .txt {
  width: 100%;
  padding-top: 1rem;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-w .text .head {
  border-radius: 50%;
  border: 6px solid #333;
  position: absolute;
  left: 92%;
  top: 85%;
}

.card-h {
  background-color: #fff;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5%;
  padding: 0.5rem;
}
.card-h .img {
  width: 100%;
  position: relative;
}
.card-h .img img {
  width: 100%;
  border-radius: 0 0 20px 0;
}
.card-h .img .head {
  scale: 0.8;
  border-radius: 50%;
  border: 5px solid #333;
  width: 35%;
  position: absolute;
  bottom: -10%;
  right: -6.7%;
}
.card-h .text {
  margin: 0.5rem 0.5rem;
}
.card-h .text .title {
  line-height: 25px;
  padding-bottom: 0.5rem;
  border-bottom: #999 1px dashed;
}
.card-h .text .title .tag {
  min-height: 70px;
}
.card-h .text .title h3 {
  font-weight: bold;
  font-size: 24px;
}
.card-h .text .title p {
  margin: 0 0.2rem;
  font-weight: 600;
  color: #333;
}
.card-h .text .time {
  color: #999999;
  display: block;
  text-align: right;
  margin-top: 5%;
}
.card-h .text .txt {
  margin-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.s-card-h {
  width: 192px;
  border: 6px solid #ddd;
  position: relative;
  margin: 5%;
  padding: 0.5rem;
}
.s-card-h .img {
  width: 100%;
  position: relative;
}
.s-card-h .img img {
  width: 100%;
}
.s-card-h .img .head {
  scale: 0.8;
  border-radius: 50%;
  border: 5px solid #333;
  width: 40%;
  position: absolute;
  bottom: -18%;
  right: -8.5%;
}
.s-card-h .text {
  padding-top: 0.2rem;
}
.s-card-h .text .title h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.s-card-h .text .title p {
  font-weight: 600;
  line-height: 1.5rem;
  color: #333;
}
.s-card-h .text .title .tag {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0 0;
}
.s-card-h .text .title .tag .title-tag {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.s-card-h .text .title .time {
  color: #999999;
  position: relative;
  display: block;
  text-align: left;
}

.title-tag {
  padding: 0rem 1rem;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 0.5rem 0.3rem 0.3rem 0.3rem;
  line-height: 18px;
  display: inline-block;
}

.gray {
  color: #757575;
  border: 2px solid #757575;
}

.blue {
  color: #32c8e1;
  border: 2px solid #32c8e1;
}

.red {
  color: #dc4b55;
  border: 2px solid #dc4b55;
}

.orange {
  color: #ffbb33;
  border: 2px solid #ffbb33;
}

.green {
  color: #4bc887;
  border: 2px solid #4bc887;
}

.brown {
  color: #a67c52;
  border: 2px solid #a67c52;
}

.yellow {
  color: #fff04b;
  border: 2px solid #fff04b;
}

.SliderAC {
  width: 300px;
  background-color: #ddd;
  border-radius: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 900px;
}
.SliderAC .pic {
  width: 180px;
  height: 180px;
  margin: auto;
  margin-top: 10px;
}
.SliderAC .pic img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  vertical-align: top;
  border: 8px solid black;
}
.SliderAC button {
  background-color: #fff;
  color: #7d7d7d;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #7d7d7d;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  font-size: 18px;
  display: block;
}
.SliderAC button .logout {
  display: block;
  line-height: 34px;
}
.SliderAC button:hover {
  background-color: #7d7d7d;
  color: #fff;
}
.SliderAC ul {
  margin-block: 20px;
}
.SliderAC ul li {
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-bottom: 1.5rem;
}
.SliderAC ul li:hover {
  background-color: #7d7d7d;
}
.SliderAC ul li:hover a {
  color: #fff;
}
.SliderAC .userback {
  display: none;
}

@media screen and (max-width: 414px) {
  .SliderAC {
    gap: 0;
    padding: 0;
    background-color: #fff;
    height: 100%;
  }
  .SliderAC .userback {
    display: block;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50px;
    right: 15px;
    height: 100px;
    text-align: center;
  }
  .SliderAC .userback::before {
    content: "";
    position: absolute;
    top: -30px;
    right: -15px;
    width: 15px;
    height: 150%;
    background-image: linear-gradient(
      #a87b52 5%,
      #dd4d54 10%,
      #ffbb33 30%,
      #fff04b 45%,
      #4bc887 70%,
      #32c8e1 85%,
      #9164cd
    );
    /* border: 1px solid red; */
  }
}
.bSliderAC {
  width: 300px;
  background-color: #ddd;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 900px;
  margin-top: 3rem;
}
.bSliderAC .pic {
  width: 180px;
  height: 180px;
  margin: auto;
  margin-top: 10px;
}
.bSliderAC .pic img {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  vertical-align: top;
  border: 8px solid black;
}
.bSliderAC button {
  background-color: #fff;
  color: #7d7d7d;
  width: 80%;
  padding-block: 8px;
  border-radius: 10px;
  border: 1px solid #7d7d7d;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  font-size: 18px;
  display: block;
}
.bSliderAC button .logout {
  display: block;
  line-height: 34px;
}
.bSliderAC button:hover {
  background-color: #7d7d7d;
  color: #fff;
}
.bSliderAC ul {
  margin-block: 20px;
}
.bSliderAC ul li {
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-bottom: 1.5rem;
}
.bSliderAC ul li:hover {
  background-color: #7d7d7d;
}
.bSliderAC ul li:hover a {
  color: #fff;
}
.bSliderAC .userback {
  display: none;
}

@media screen and (max-width: 414px) {
  .bSliderAC {
    gap: 0;
    padding: 0;
    background-color: #fff;
    gap: 1rem;
    height: 100%;
    border: #7d7d7d 1px solid;
  }
  .bSliderAC .userback {
    display: block;
    writing-mode: vertical-lr;
    position: absolute;
    top: 50px;
    right: 15px;
    height: 100px;
    text-align: center;
  }
  .bSliderAC .userback::before {
    content: "";
    position: absolute;
    top: -30px;
    right: -15px;
    width: 15px;
    height: 150%;
    background-image: linear-gradient(
      #a87b52 5%,
      #dd4d54 10%,
      #ffbb33 30%,
      #fff04b 45%,
      #4bc887 70%,
      #32c8e1 85%,
      #9164cd
    );
    /* border: 1px solid red; */
  }
}
.--closeFooter {
  display: none;
}

footer {
  max-width: 1200px;
  padding: 0.5rem;
  border-radius: 100px;
  border: 3px solid #7d7d7d;
  margin: 20px auto !important;
  background-color: #fff;
}
footer .footerLogo {
  width: 50px;
  margin: auto;
}
footer .footerLogo img {
  width: 100%;
  vertical-align: top;
}
footer .footerTxt {
  padding-top: 0.5rem;
}
footer .footerTxt p {
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  footer {
    width: 100%;
    display: flex !important;
    padding-inline: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    justify-content: center;
  }
  footer .footerLogo {
    width: 40px;
    margin: auto 0.5rem;
  }
  footer .footerLogo img {
    width: 100%;
    vertical-align: top;
  }
  footer .footerTxt {
    padding-top: 0;
  }
  footer .footerTxt p {
    font-size: 14px;
    text-align: left;
    line-height: normal;
  }
  .--closeFooter {
    display: none !important;
  }
}
.animate {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: #fff;
  opacity: 1;
  transition: opacity 1s ease;
  z-index: 5;
}
.animate .displaycenter {
  z-index: 6;
  width: 50%;
  height: 100%;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0;
  animation: zooming 1.3s ease-out 3s;
}
.animate .displaycenter .logo {
  width: 50%;
  inset: 0;
  margin: auto;
}
.animate .displaycenter .logo img {
  width: 100%;
  object-fit: cover;
}
.animate .row-line {
  height: 300px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inset: 0;
  margin: auto;
}
.animate .row-line .r-line {
  height: 70px;
  width: 200vw;
  border-radius: 50px;
}
.animate .col-line {
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  inset: 0;
  margin: auto;
}
.animate .col-line .c-line {
  width: 70px;
  height: 200vh;
  border-radius: 50px;
}
.animate .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.animate .circle svg {
  position: absolute;
  inset: 0;
  margin: auto;
}

.animateLineGroup.main .left {
  animation: fadeInLeft 1s ease-out 0s;
}
.animateLineGroup.main .right {
  animation: fadeInRight 1s ease-out 0s;
}

.animateLineGroup {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  pointer-events: none;
}
.animateLineGroup .left {
  width: 18.75%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  animation: fadeInLeft 4.5s ease-out 0s;
}
.animateLineGroup .right {
  width: 18.75%;
  display: flex;
  right: 0;
  justify-content: space-between;
  position: absolute;
  animation: fadeInRight 4.5s ease-out 0s;
}
.animateLineGroup .thick {
  width: 20%;
  height: 100vh;
  background-color: #000;
}
.animateLineGroup .slim {
  width: 6%;
}
.animateLineGroup .dark1 {
  background-color: #1a1a1a;
}
.animateLineGroup .dark2 {
  background-color: #323232;
}
.animateLineGroup .dark3 {
  background-color: #4c4c4c;
}
.animateLineGroup .dark4 {
  background-color: #666666;
}
.animateLineGroup .dark5 {
  background-color: #808080;
}
.animateLineGroup .dark6 {
  background-color: #9a9a9a;
}
.animateLineGroup .dark7 {
  background-color: #b4b4b4;
}
.animateLineGroup .dark8 {
  background-color: #cccccc;
}
.animateLineGroup .dark9 {
  background-color: #e6e6e6;
}

@keyframes fadeInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes fadeInRight {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes zooming {
  0% {
    scale: 0;
  }
  100% {
    scale: 0.8;
  }
}
.fadeOut {
  animation: fadeOut 2s ease-in 0s; /* Apply the fadeOut animation */
}

@media screen and (max-width: 414px) {
  .animate .displaycenter {
    width: 100%;
  }
  .animateLineGroup.main {
    display: none;
  }
  .animateLineGroup.main .left {
    animation: fadeInLeft 1s ease-out 0s;
  }
  .animateLineGroup.main .right {
    animation: fadeInRight 1s ease-out 0s;
  }
}
.CartWrap {
  position: relative;
  max-width: 1200px;
  padding: 2.5rem 1.5rem;
  margin: auto;
  width: 100%;
}
.CartWrap .CartSpeedBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.CartWrap .CartSpeedBox .course {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.CartWrap .CartSpeedBox .course div {
  width: calc(35% - 90px);
  height: 2px;
  background-color: #bbb;
  margin-bottom: 20px;
}
.CartWrap .CartSpeedBox .course section {
  text-align: center;
}
.CartWrap .CartSpeedBox .course section .SpeedNo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: rgba(85, 85, 85, 0.3333333333) 1px solid;
  inset: 0;
  margin: 1rem auto;
  color: #fff;
  line-height: 58px;
}
.CartWrap .CartSpeedBox .course section .SpeedText {
  color: #555;
  width: 72px;
}
.CartWrap .CartSpeedBox .SpeedText {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.CartWrap .CartSpeedBox .SpeedText div {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
}
.CartWrap .CartProBOX {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  background-color: rgb(234, 233, 233);
  width: 100%;
}
.CartWrap .CartProBOX .CartProTitle {
  padding: 30px;
  text-align: center;
  color: #555;
  font-weight: 500;
}
.CartWrap .CartProBOX .CartProCardBox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 18px;
  background-color: white;
  border-bottom: 1px solid gray;
  margin: auto;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardTitle {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardTitle div {
  width: 16%;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail {
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail div {
  width: 16%;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail .CardDetailImg img {
  width: 100%;
  height: 150px;
  padding: 10px;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail .CardDetailCount {
  display: flex;
  margin: 0;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail .CardDetailCount p {
  border: 1px solid black;
  width: 70%;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail .CardDetailCount div {
  border: 1px solid black;
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.CartWrap .CartProBOX .CartProCardBox .CartProCardDetail .CardDetailDelet {
  cursor: pointer;
  font-weight: bold;
}
.CartWrap .CartProBOX .CartProTotalBox {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: right;
}
.CartWrap .CartProBOX .CartProTotalBox .CartProTotalTitle {
  font-size: 18px;
}
.CartWrap .CartProBOX .CartProTotalBox .CartProTotalPrice {
  padding-left: 10px;
  letter-spacing: 5px;
  color: rgb(236, 85, 112);
  font-size: 24px;
}
.CartWrap .CartBtmBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 30px 0;
}
.CartWrap .CartBtmBox .btn_s {
  line-height: 36px;
  border: 1px solid #333;
}
.CartWrap .CartBtmBox .btn_s:last-child {
  line-height: 36px;
  margin-left: 10px;
  background-color: #dc4b55;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .CartWrap .CartProBOX .CartProCardBox .CartProCardTitle {
    justify-content: space-between;
    padding: 10px 5px;
  }
  .CartWrap .CartProBOX .CartProCardBox .CartProCardTitle .proName {
    display: none;
  }
  .CartWrap .CartSpeedBox .course {
    justify-content: space-around;
  }
  .CartWrap .DoneBtnBox,
  .CartWrap .CartBtmBox {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    display: block;
  }
  .CartWrap .DoneBtnBox .btn_s,
  .CartWrap .CartBtmBox .btn_s {
    width: 100%;
    line-height: 36px;
    border: 1px solid #333;
  }
  .CartWrap .DoneBtnBox .btn_s:last-child,
  .CartWrap .CartBtmBox .btn_s:last-child {
    margin: 1rem 0;
  }
  .CartWrap .DoneBtnBox .btn_m,
  .CartWrap .CartBtmBox .btn_m {
    background-color: #4bc887;
    margin: auto 0;
    width: 100%;
    color: #fff;
  }
} /*# sourceMappingURL=main.css.map */
