.card-w {
  width: 540px;
  // height: 320px;
  border: 10px solid #eeeeee;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  margin: 5%;

  .img {
    width: 45%;
    padding: 0.8rem;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .text {
    padding: 2rem 1rem 2rem 0.5rem;
    width: 55%;

    .title {
      line-height: 25px;
      border-bottom: 1px dashed #aaa;

      .tag {
        display: inline-block;
        flex-wrap: wrap;
      }

      h3 {
        font-weight: bold;
        font-size: map-get($fontsizes, h3);
      }

      p {
        font-weight: 600;
        color: #333;
        line-height: 1.8rem;
        margin-bottom: 0.5rem;
      }

      .time {
        color: #999999;
        position: relative;
        display: block;
        text-align: right;
        margin: .2rem 0;
      }

      .blue {
        color: map-get($color, $key: info);
        border: 2px solid map-get($color, $key: info);
        margin-left: 0.7rem;
      }
    }

    .txt {
      width: 100%;
      padding-top: 1rem;
      line-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .head {
      border-radius: 50%;
      border: 6px solid #333;
      position: absolute;
      left: 92%;
      top: 85%;
    }
  }
}

.card-h {
  // height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 5%;
  padding: 0.5rem;

  .img {
    width: 100%;
    position: relative;

    // height: 40%;
    img {
      width: 100%;
      border-radius: 0 0 20px 0;
    }

    .head {
      scale: .8;
      border-radius: 50%;
      border: 5px solid #333;
      width: 35%;
      position: absolute;
      bottom: -10%;
      right: -6.7%;
    }

  }

  .text {
    margin: .5rem .5rem;

    .title {
      line-height: 25px;
      padding-bottom: 0.5rem;
      border-bottom: #999 1px dashed;

      .tag {
        // display: flex;
        // flex-wrap: wrap;
        min-height: 70px;
      }

      h3 {
        font-weight: bold;
        font-size: map-get($fontsizes, h3);
      }

      p {
        margin: 0 0.2rem;
        font-weight: 600;
        color: #333;
      }
    }

    .time {
      color: #999999;
      // position: relative;
      display: block;
      text-align: right;
      margin-top: 5%;
    }



    .txt {
      margin-top: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.s-card-h {
  // height: 330px;
  width: 192px;
  border: 6px solid #ddd;
  position: relative;
  margin: 5%;
  padding: 0.5rem;
  // box-sizing: border-box;

  .img {
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }
    
    .head {
      scale: .8;
      border-radius: 50%;
      border: 5px solid #333;
      width: 40%;
      position: absolute;
      bottom: -18%;
      right: -8.5%;
    }
  }

  .text {
    padding-top: 0.2rem;
    // height: 45%;

    .title {
      h4 {
        font-weight: bold;
        font-size: map-get($fontsizes, h4);
        line-height: 30px;
      }

      p {
        font-weight: 600;
        line-height: 1.5rem;
        color: #333;
      }

      .tag {
        display: flex;
        flex-wrap: wrap;
        margin: .5rem 0 0 .2rem;

        .title-tag {
          margin-top: 0;
          margin-left: 0;
        }

        .title-tag:nth-last-child(1) {
          margin-bottom: 0;
        }
      }

      .time {
        color: #999999;
        position: relative;
        display: block;
        margin-left: 62%;
        margin-top: -1.2rem;
      }
    }

  }
}