.--closeHeader {
  display: none;
}

header {
  width: 100%;
  padding: $padding;
  margin: auto;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .line {
      width: 45%;
      height: 0.5rem;
      margin: 0 2%;
      border-radius: $border-radius;
      background-color: #fffe;
      border: 1px solid #d9d9d9;
    }

    img {
      width: 85px;
    }

    .header-container {
      position: absolute;
      right: 0;
      z-index: 10;
      display: none;

      .homeNav {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          :hover p {
            font-size: 75px;
            text-shadow: 2px 2px 10px #333, 2px 2px 10px #333, 2px 2px 10px #333,
              2px 2px 10px #333;
            font-weight: 800;
          }

          :hover a {
            position: absolute;
            z-index: 6;
          }

          li {
            width: 16.6%;
            writing-mode: vertical-rl;
            height: 600px;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          a {
            position: absolute;
            inset: 0;
            width: 100%;
            z-index: 2;

            p {
              font-size: 64px;
              text-align: end;
              padding-bottom: 1rem;
              padding-right: 1.5rem;
              color: #fff;
              text-shadow: 2px 2px 5px #333, 2px 2px 5px #333, 2px 2px 5px #333,
                2px 2px 5px #333;
              transition: all 0.2s;
            }
          }
        }
      }

      .header-menu {
        height: 30px;
        width: 30px;
        position: relative;
        z-index: 10;

        &:hover {
          cursor: pointer;
        }

        .hambergerIcon {
          height: 5px;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 50px;
          background-color: #333;
          transform: translate(-50%, -50%) rotate(0deg);
          transition: all ease 0.5s;

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: inherit;
            border-radius: inherit;
            background-color: #777;
            margin: auto;
            width: 50%;
            transition: all ease 0.5s;
          }

          &::before {
            top: -10px;
            left: 0;
            transform-origin: left;
          }

          &::after {
            bottom: -10px;
            right: 0;
            transform-origin: right;
          }
        }

        .open {
          background-color: #32c8e1;
          transform: translate(-50%, -50%) rotate(135deg);

          &::before {
            background-color: #fff04b;
            top: 0;
            transform: translateX(100%) rotate(-90deg);
          }

          &::after {
            background-color: #fff04b;
            bottom: 0;
            transform: translateX(-100%) rotate(-90deg);
          }
        }
      }
    }

    .weather {
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 22%;
      top: 65%;
      gap: 5px;

      p {
        color: #666;
      }

      .celsius {
        color: map-get($color, $key: info);
      }

      .hot {
        color: map-get($color, $key: danger);
      }

      img {
        width: 35px;
        height: 35px;
      }
    }

    .user {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      right: 22%;
      top: 65%;
      gap: 20px;

      #userName {
        font-weight: 600;
        color: #333;
      }

      #signOut {
        cursor: pointer;


        &:hover {
          color: map-get($color, $key: danger);
          font-weight: 600;
        }
      }
    }

    #navbar {
      display: none;
    }
  }

  .navbar {
    max-width: 1200px;
    height: 40px;
    padding-inline: 4rem;
    border: 1px solid #333;
    border-radius: $border-radius;
    margin-inline: auto;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 8px 0px #999e;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;

    a {
      padding: 0.8rem 0;
      transition: all 0.3s;

      &:hover {
        color: #999 !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    border-bottom: 2px dashed #d9d9d9;
    margin-bottom: 3%;

    .header {
      justify-content: center;

      .line {
        display: none;
      }

      img {
        width: 75px;
      }

      .header-container {
        display: block;

        .header-menu {
          .open {
            position: fixed;
            width: 30px;
            top: 60px;
            left: 94%;
          }
        }

        .homeNav {
          background: #0008;
          display: flex;
          justify-content: center;
          position: fixed;
          padding: 0 3rem 0 0;
          height: 100vh;
          top: 0;
          width: 100%;
          margin-top: 0;
          opacity: 0;
          left: -100%;
          transition: all 0.3s ease-in;
          z-index: 9;

          ul {
            flex-direction: column;
            width: 100%;

            :hover p {
              font-size: 40px;
            }

            li {
              width: 100%;
              writing-mode: inherit;
              height: 90px;
              left: -100%;
              margin-right: 10%;
              margin-block: 1%;
              transform: skewX(-20deg);
              background-color: #333;
              position: relative;

              a {
                height: 100%;

                p {
                  margin-top: 8%;
                  margin-right: 5%;
                  padding-bottom: 0;
                  padding-right: 0;
                  font-size: 36px;
                  position: relative;

                  &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 180px;
                    height: 12px;
                    opacity: 0.8;
                    bottom: 0px;
                  }
                }
              }

              &:nth-child(1) p::after {
                background-color: map-get($color, $key: info);
              }

              &:nth-child(2) p::after {
                background-color: map-get($color, $key: grap);
              }

              &:nth-child(3) p::after {
                background-color: map-get($color, $key: success);
              }

              &:nth-child(4) p::after {
                background-color: map-get($color, $key: warning);
              }

              &:nth-child(5) p::after {
                background-color: map-get($color, $key: tangerine);
              }

              &:nth-child(6) p::after {
                background-color: map-get($color, $key: danger);
              }

              &:nth-child(7) p::after {
                background-color: map-get($color, $key: choco);
              }

              &:nth-child(8) p::after {
                background-color: #d9d9d9;
              }
            }
          }
        }

        .showHomeNav {
          opacity: 1;
          left: 0;
          transition: all 0.3s ease-in;

          @keyframes flyInLeft {
            0% {
              left: -100%;
            }

            100% {
              left: 0;
            }
          }

          ul {
            li:nth-child(1) {
              animation: flyInLeft 0.2s 0.4s forwards;
            }

            li:nth-child(2) {
              animation: flyInLeft 0.2s 0.5s forwards;
            }

            li:nth-child(3) {
              animation: flyInLeft 0.2s 0.6s forwards;
            }

            li:nth-child(4) {
              animation: flyInLeft 0.2s 0.7s forwards;
            }

            li:nth-child(5) {
              animation: flyInLeft 0.2s 0.8s forwards;
            }

            li:nth-child(6) {
              animation: flyInLeft 0.2s 0.9s forwards;
            }

            li:nth-child(7) {
              animation: flyInLeft 0.2s 1s forwards;
            }

            li:nth-child(8) {
              animation: flyInLeft 0.2s 1.1s forwards;
            }
          }
        }
      }

      .weather {
        scale: 0.8;
        width: 33%;
        top: 15%;
        left: 60%;
        gap: 1rem;
        border: 2px solid #ddd;
        padding: 0.5rem;
        border-radius: 50px;

        p {
          color: #666;
        }
      }

      .user {
        display: none;
      }
    }

    .icon {
      display: none;
    }

    .navbar {
      display: none;
    }
  }
}

@media screen and (max-width: 414px) {
  header {
    .header {
      .header-container {
        display: block;

        .header-menu {
          .open {
            position: fixed;
            width: 30px;
            top: 60px;
            right: 10%;
          }
        }

        .homeNav {
          ul {
            :hover p {
              font-size: 36px;
            }

            li {
              a {
                p {
                  font-size: 28px;
                }
              }
            }
          }
        }
      }

      .weather {
        display: none;
      }

      .user {
        display: none;
      }
    }

    .hbclose {
      display: none;
    }
  }

  .--closeHeader {
    display: block;
  }
}