.--closeHeader {
  display: none;
}

header {
  width: 100%;
  padding: $padding;
  margin: auto;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .line {
      width: 45%;
      height: 0.5rem;
      margin: 0 2%;
      border-radius: $border-radius;
      background-color: #fffe;
      border: 1px solid #d9d9d9;
    }

    img {
      width: 85px;
    }

    .header-nav {
      .checkBox {
        display: none;
      }

      .homeNav {
        max-width: 1280px;
        margin: auto;
        display: none;
        padding-inline: 5%;

        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          :hover p {
            font-size: 75px;
            text-shadow: 2px 2px 10px #333, 2px 2px 10px #333, 2px 2px 10px #333,
              2px 2px 10px #333;
            font-weight: 800;
          }

          :hover .pic img {
            transform: scaleY(1.1);
            box-shadow: 6px 6px 20px black;
          }

          :hover .pic {
            position: relative;
            z-index: 5;
          }

          :hover a {
            position: absolute;
            z-index: 6;
          }

          li {
            width: 16.6%;
            writing-mode: vertical-rl;
            height: 600px;
            position: relative;

            .pic {
              overflow: hidden;
              box-shadow: 0 8px 8px #0006;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            a {
              position: absolute;
              inset: 0;
              width: 100%;
              z-index: 2;

              p {
                font-size: 64px;
                text-align: end;
                padding-bottom: 1rem;
                padding-right: 1.5rem;
                color: #fff;
                text-shadow: 2px 2px 5px #333, 2px 2px 5px #333,
                  2px 2px 5px #333, 2px 2px 5px #333;
                transition: all 0.2s;
              }
            }
          }
        }
        ul li:nth-child(odd) {
          .pic {
            border: 8px solid #000;
            // border: 8px solid map-get($color, $key: info);
          }

          img {
            object-position: 60% 0;
          }
        }
        ul li:nth-child(even) {
          .pic {
            border: 8px solid #d9d9d9;
            // border: 8px solid map-get($color, $key: tangerine);
          }

          img {
            object-position: 35% 30%;
          }
        }
      }
    }

    .weather {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 20%;
      top: 65%;
      gap: 5px;

      .celsius {
        color: map-get($color, $key: info);
      }

      .hot {
        color: map-get($color, $key: danger);
      }

      img {
        width: 35px;
        height: 35px;
      }
    }

    #navbar {
      display: none;
    }
  }

  .navbar {
    max-width: 1200px;
    height: 40px;
    padding-inline: 4rem;
    border: 1px solid #333;
    border-radius: $border-radius;
    margin-inline: auto;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 8px 0px #999e;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;

    a {
      padding: 0.8rem 0;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    border-bottom: 2px dashed #d9d9d9;
    margin-bottom: 3%;

    .header {
      justify-content: center;

      .line {
        display: none;
      }

      img {
        width: 75px;
      }

      .header-nav {
        top: 100%;
        z-index: 11;

        .checkBox {
          display: flex;
          width: 40px;
          height: 40px;
          padding: 3px;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          position: absolute;
          left: 85%;
          top: 20px;

          span {
            width: 70%;
            height: 3px;
            background: #7d7d7d;

            &:nth-of-type(2) {
              opacity: 1;
            }

            &:nth-of-type(1) {
              transition: 0.3s;
            }

            &:nth-of-type(3) {
              transition: 0.3s;
            }
          }
        }

        .homeNav {
          width: 100vw;
          height: 250vh;
          background: #0008;
          background-size: cover;
          left: -150%;
          display: block;
          position: absolute;
          padding: 8% 1.5rem 0 0;
          top: 80px;
          transition: all 0.3s ease-in;

          ul {
            flex-direction: column;
            gap: 5px;

            :hover p {
              font-size: 40px;
            }

            li {
              width: 100%;
              writing-mode: inherit;
              height: 90px;
              left: 0;

              .pic {
                width: 100%;
                height: 100%;
                transform: skewX(-20deg);
                margin-left: -5%;
              }

              a {
                height: 100%;

                p {
                  margin-top: 13%;
                  margin-right: 2%;
                  padding-bottom: 0;
                  padding-right: 0;
                  font-size: 36px;
                }
              }
            }
          }
        }
      }

      .weather {
        display: none;
      }

      #navbar:checked + .header-nav .homeNav {
        left: 0;
      }

      #navbar:checked ~ .header-nav .checkBox span:nth-of-type(1) {
        transform: rotate(45deg);
        position: absolute;
        inset: 0;
        margin: auto;
      }

      #navbar:checked ~ .header-nav .checkBox span:nth-of-type(2) {
        opacity: 0;
        transition: all 0.3s;
      }

      #navbar:checked ~ .header-nav .checkBox span:nth-of-type(3) {
        transform: rotate(-45deg);
        position: absolute;
        inset: 0;
        margin: auto;
      }
    }

    .icon {
      display: none;
    }

    .navbar {
      display: none;
    }
  }
}

@media screen and (max-width: 414px) {
  header {
    .header {
      .header-nav {
        .homeNav {
          ul {
            :hover p {
              font-size: 36px;
            }

            li {
              a {
                p {
                  font-size: 28px;
                }
              }
            }
          }
        }

        .checkBox {
          display: none;
        }
      }
    }
  }

  .--closeHeader {
    display: block;
  }
}
