.CBWrapper {
  text-align: center;
  position: relative;

  h1 {
    font-size: map-get($fontsizes, h1);
    margin: 3rem 0;
    text-align: center;
  }

  .swiperBanner {
    width: 100%;
    overflow: hidden;

    .swiper-wrapper {
      transition-timing-function: linear;

      .swiper-slide {
        width: 262px;
        height: 450px;
        background-color: black;
        padding: 20px 15px;
        transform: skewX(-5deg);
      }

      .pic {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          // transform: skewX(deg);
        }

        .info {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 130px;
          // height: 100px;
          bottom: 0;
          margin: auto;
          text-align: center;
          padding: 15px 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;

          .tag {
            padding-block: 5px;
            transform: skewX(5deg);

            span {
              margin-right: 12px;
              padding: 1px 3px;
              font-weight: 600;
            }
          }

          p {
            margin-block: 3px;
            color: #fff;
            transform: skewX(5deg);
            letter-spacing: 0.1em;
          }

          .en {
            font-size: 13px;
            line-height: 15px;
            max-width: 80%;
            min-height: 30px;
            margin-top: auto;
          }
        }
      }

      .even {
        background-color: #d9d9d9;
      }
    }
  }

  .talk {
    position: absolute;
    border: 12px solid black;
    background-color: #eee;
    padding: 25px 50px;
    bottom: -3%;
    left: 6.5%;
    z-index: 8;
    transform: skew(-15deg);

    p {
      transform: skew(15deg);
    }

    span {
      background-color: black;
      font-size: 20px;
      color: #fff;
      border-radius: 50px;
      width: 50px;
      height: 50px;
      display: inline-block;
      line-height: 50px;
      position: absolute;
      right: -7%;
      top: -25%;
      cursor: pointer;
    }
  }

  .talk::before {
    content: "";
    width: 100px;
    height: 80px;
    display: block;
    position: absolute;
    top: -45%;
    right: 0.5%;
    z-index: 6;
    clip-path: polygon(64% 0, 28% 54%, 56% 55%);
    background-color: black;
    transform: skew(15deg);
  }

  .talk::after {
    content: "";
    width: 100px;
    height: 80px;
    display: block;
    position: absolute;
    top: -40%;
    right: 0.5%;
    z-index: 6;
    clip-path: polygon(51% 32%, 35% 53%, 51% 53%);
    background-color: #eee;
    transform: skew(15deg);
  }

  .toCB {
    margin: auto;
    margin-top: 2%;

    .medium {
      inset: 0;
      margin: auto;
    }
  }
}

.CBArea {
  width: 1200px;
  margin: auto;

  .CBTitle {
    width: 1200px;
    margin: 8% auto;
    padding-block: 1%;
    text-align: center;
    position: relative;

    h2 {
      font-size: map-get($fontsizes, h2);
      padding-bottom: 20px;
    }

    div {
      margin-block: 20px;

      span {
        padding: 1px 3px;
        font-weight: 600;
        margin-right: 5px;

        letter-spacing: 0.1rem;
      }
    }
  }

  .CBTitle::after {
    content: "";
    background-image: url("~@/assets/images/Line.svg");
    width: 1150px;
    height: 2px;
    position: absolute;
    top: -20%;
    left: 2%;
    right: 2%;
    opacity: 0.5;
  }

  .CBTitle::before {
    content: "";
    background-image: url("~@/assets/images/Line.svg");
    width: 1150px;
    height: 2px;
    position: absolute;
    bottom: -20%;
    left: 2%;
    right: 2%;
    opacity: 0.5;
  }

  .CBList {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .card-w {
      cursor: pointer;
      box-shadow: 1px 3px 6px #0006;
      height: 350px;

      .img {
        position: relative;

        img {
          object-fit: cover;
          object-position: center;
        }

        .head {
          position: absolute;
          width: 70px;
          height: 70px;
          border-radius: 50px;
          bottom: -3%;
          left: -4%;
          border: 3px solid #555;
          box-shadow: 2px 2px 10px #0009;
          object-fit: cover;
        }
      }

      .text {
        padding-top: 1rem;

        .title {
          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            font-size: 15px;
          }
        }

        .txt {
          -webkit-line-clamp: 5;
          // min-height: 86px;
        }
      }
    }
  }

  .CBPost {
    max-width: 1200px;
    max-height: 700px;
    background-color: #d9d9d9;
    padding: 30px;
    display: flex;
    justify-self: center;
    align-items: center;
    position: fixed;
    inset: 0;
    margin: auto;
    z-index: 10;

    .box {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      position: relative;

      .closePost {
        background-color: black;
        font-size: 50px;
        font-weight: 1000;
        color: #fff;
        border-radius: 50px;
        width: 60px;
        height: 60px;
        display: inline-block;
        position: absolute;
        text-align: center;
        line-height: 50px;
        right: 0%;
        top: 0%;
        cursor: pointer;
        z-index: 2;
      }

      .closePost:hover {
        background-color: map-get($color, $key: danger);
      }

      .head {
        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        bottom: -7%;
        right: -5%;
        border: 6px solid #333;
        object-fit: cover;
      }

      .swiperPost {
        width: 40%;
        height: 100%;
        margin: 0 2rem 0 0;

        .swiper-button-prev::after,
        .swiper-button-next::after {
          scale: 0.8;
          color: #fff;
        }

        .swiper-slide {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        p {
          font-size: map-get($map, small);
        }

        .title::after {
          content: "";
          position: absolute;
          width: 90%;
          border-bottom: 1px solid map-get($color, $key: success);
          bottom: 0;
          left: 5%;
        }

        .title {
          border-top: 30px solid map-get($color, $key: success);
          border-left: 30px solid map-get($color, $key: success);
          padding-top: 1rem;
          padding-inline: 2rem;
          position: relative;
          height: 30%;

          h3 {
            font-size: map-get($fontsizes, h2);
            line-height: 70px;
            height: 50%;
          }

          h4 {
            font-size: map-get($fontsizes, h4);
            line-height: 65px;
          }
        }

        .DigLikeBox {
          position: absolute;
          font-size: 36px;
          // bottom: 1rem;
          right: 0.9rem;
          top: 9.5rem;
          z-index: 5;
          color: #000000;
        }

        .scrollbarArea::-webkit-scrollbar {
          width: 8px;
        }

        .scrollbarArea::-webkit-scrollbar-track {
          box-shadow: transparent;
        }

        .scrollbarArea::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #ccc;
          cursor: pointer;
        }

        .scrollbarArea {
          overflow-x: hidden;
          overflow-y: scroll;
          margin-right: 20px;

          .info {
            width: 100%;
            //   width: calc(100% + 40px);
            background-color: transparent;
            display: inline-grid;
            position: relative;
            padding: 1rem 0.5rem 0;

            p {
              padding-left: 3.5rem;
            }

            .PostingDate {
              display: block;
              text-align: end;
              color: #999;
              padding-bottom: 1.5rem;
              margin-top: 1rem;
              margin-left: auto;
            }
          }

          .info::before {
            content: "";
            border-bottom: #aaa 3px dashed;
            width: calc(90% - 0px);
            position: absolute;
            bottom: 0;
            left: calc(5% + 30px);
          }

          .txt {
            width: 520px;
            padding-left: 50px;
            padding-right: 20px;

            p {
              text-indent: 2em;
              padding-top: 20px;
            }
          }
        }

        .author {
          display: flex;
          justify-content: flex-end;
          align-items: end;
          gap: 1rem;
          padding: 0 60px 0 50px;
          height: 50px;

          .line {
            flex: 1;
            height: 12px;
            background-color: map-get($color, $key: success);
          }

          span {
            font-size: 24px;
            font-weight: 900;
          }
        }
      }
    }
  }

}

.pagination {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;

  .paginationmain {
    margin: 0 .5rem;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    color: #555;
    font-size: 18px;
  }

  .current-page {
    border: 1px solid #999;
    border-radius: 50%;
  }
}

.lightBox {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  inset: 0;
  z-index: 9;
  opacity: 0.7;
}

.mrtBanner:nth-of-type(2) {
  right: 0;
  transform: rotate(180deg);
}

.mrtBanner {
  width: 20%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  z-index: -2;

  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-wrapper {
      transition-timing-function: linear !important;

      .swiper-slide {
        width: 80%;
      }

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

@media screen and (max-width: 1280px) {

  // 小於1280px talk不顯示
  .CBWrapper {
    .talk {
      display: none;
    }
  }

  .CBArea {
    width: 80%;

    .CBTitle {
      width: 100%;
    }

    .CBTitle::before,
    .CBTitle::after {
      width: 100%;
      left: 0;
      right: 0;
    }

    .CBList {
      gap: 1rem;
      max-width: 90%;

      .s-card-h {
        background-color: #fff;
        width: 90%;
        border: 6px solid #ddd;
        position: relative;
        padding: 1rem;
        box-shadow: 1px 3px 6px #0006;
        height: 479px;

        .title p {
          line-height: 2rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          font-size: 15px;
        }

        .title .tag {
          margin: 0.5rem 0;
        }

        .text .txt {
          line-height: 1.8rem;
          margin-bottom: 0rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .text img {
          scale: 0.7;
          border-radius: 50%;
          border: 5px solid #333;
          width: 40%;
          position: absolute;
          right: -13.5%;
          bottom: -13%;
        }

        .img {
          height: 210px;

          img {
            object-fit: cover;
            height: 100%;
          }

          .head {
            width: 80px;
            height: 80px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
          }
        }
      }
    }

    .CBPost {
      width: 90%;
      height: 600px;

      .box {
        .closePost {
          scale: 0.8;
        }

        .scrollbarArea {
          margin-right: -10px;
        }

        .head {
          width: 135px;
          height: 135px;
          bottom: -7%;
          right: -8%;
          border: 7px solid #333;
        }

        .inner {
          p {
            font-size: map-get($map, small);
          }

          .title::after {
            content: "";
            position: absolute;
            width: 90%;
            border-bottom: 1px solid map-get($color, $key: success);
            bottom: -2px;
            left: 5%;
          }

          .title {
            border-top: 30px solid map-get($color, $key: success);
            border-left: 30px solid map-get($color, $key: success);
            padding-top: 1rem;
            padding-inline: 2rem;
            position: relative;
            height: 30%;
            z-index: 1;

            h3 {
              font-size: map-get($fontsizes, h2);
              line-height: 70px;
              height: 50%;
            }

            h4 {
              font-size: map-get($fontsizes, h4);
              margin-top: 0.5rem;
              line-height: normal;
            }
          }
        }
      }
    }
  }

  .mrtBanner {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .CBWrapper {
    width: 100%;
  }

  .CBArea {
    width: 100%;

    .CBTitle {
      width: 100%;
    }

    .CBList {
      width: 85%;
      gap: 0;

      .img {
        .head {
          bottom: -10%;
          right: -14%;
        }
      }

      .s-card-h {
        .text img {
          bottom: -7%;
        }
      }

      .CBPost {
        width: 90%;
        height: 500px;

        .box {
          width: 100%;

          .head {
            bottom: -17%;
            right: -10%;
          }

          .swiperPost {
            margin: 1rem;
          }

          .inner {
            height: 105%;

            .title {
              border-top: 18px solid map-get($color, $key: success);
              border-left: 18px solid map-get($color, $key: success);
              padding-top: 1rem;
              padding-inline: 1rem;
              height: 30%;

              h3 {
                line-height: 36px;
              }

              h4 {
                line-height: 21px;
              }
            }

            .title::after {
              width: 93%;
              bottom: -15px;
              left: 3%;
            }

            .scrollbarArea {
              margin-right: -15px;
              margin-top: 15px;

              .info {
                padding: 0.2rem 0 0 2.5rem;

                span {
                  text-align: start;
                }
              }

              .txt {
                padding-left: 2.5rem;
                margin-top: -1.5rem;
              }
            }

            .author {
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .lightBox {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .CBArea {
    width: 100%;

    .CBTitle {
      inset: 0;
      margin: auto;
      width: 80%;
    }

    .CBTitle div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
    }

    .CBTitle::before {
      top: -1rem;
    }

    .CBTitle::after {
      display: none;
    }

    .CBTitle div span {
      display: block;
      padding: 0 0.8rem;
    }

    .CBList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .s-card-h {
        .text img {
          bottom: -10%;
        }
      }

      .CBPost {
        width: 95%;
        height: 80%;
        margin: auto;

        .box {
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding: 0;

          .head {
            display: none;
          }

          .closePost {
            right: -10%;
            top: -5%;
          }

          .swiperPost {
            margin: 1rem;
            width: 300px;
            height: calc(35% - 2rem);
          }

          .inner {
            height: 65%;

            .title {
              border-top: 0;
              border-left: 10px solid map-get($color, $key: success);
              padding-inline: 10px;
            }

            .title::after {
              width: 95%;
              left: 5px;
            }

            .scrollbarArea {
              margin-right: -10px;

              .info {
                padding: 0.2rem 0 0 1rem;
              }

              .info::before {
                border-bottom: #aaa 2px dashed;
                width: 95%;
                left: 3%;
              }

              .txt {
                padding: 0 0.5rem 0 1rem;
              }
            }

            .author {
              padding: 0;
            }
          }
        }
      }
    }
  }

  .CBList {
    .s-card-h {
      .img {
        .head {
          right: -10%;
        }
      }
    }
  }
}

.lightBox {
  width: 100%;
}

// @media screen and (max-width: 414px) {
//   .CBArea {
//     .CBList {
//       .s-card-h {
//         .text {
//           .txt {
//             margin-bottom: 2rem;
//           }
//         }
//       }
//     }
//   }
// }