// 首頁
.gameHome {
    position: relative;
    overflow: hidden;
    animation: home 1s ease;

    @keyframes home {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }

    }

    .home {
        margin: 3rem 0;
        height: 90vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gameLogo {
        position: absolute;
        left: 0;
        right: -200%;
        top: 10%;
        margin: auto;
        animation: logo 1.5s cubic-bezier(0.5, 0.5, 0.4, 1.6);
        animation-fill-mode: forwards;
    }

    @keyframes logo {
        from {
            right: -200%;
        }

        to {
            right: 0;
        }

    }

    .start {
        position: absolute;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0;
        margin: auto;
        animation: start_btn 2.5s 1.5s ease;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes start_btn {
        from {
            // bottom: -200%;
            opacity: 0;
        }

        to {
            opacity: 1;
            // bottom: 0;
        }

    }

    .name {
        width: 300px;
        height: 400px;
        background-color: #eee;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
        text-align: center;
        border-radius: 50px;


        p {
            display: block;
            margin-block: 4rem;
            font-size: 30px;
        }

        input {
            width: 200px;
            border-radius: 50px;
            padding: 5px 30px;
            margin-bottom: 5rem;
            font-size: 20px;
            text-align: center;
        }

        .btn_s {
            display: block;
            width: 200px;
            margin: auto;
        }
    }

    .mode {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 150px;

        .toCostume,
        .toGame {
            width: 350px;
            height: 550px;
            background: #fff5;
            border-radius: 50px;
            position: relative;
            cursor: pointer;
            margin-top: 3rem;
            transform-style: preserve-3d;
            transition: 0.5s all ease;
            box-shadow: 0px 0px 10px rgba(10, 10, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            animation: mode 0.7s 0.2s ease-in-out;
            animation-direction: alternate;
            animation-iteration-count: infinite;

            @keyframes mode {
                from {
                    top: 10px;
                }

                to {
                    top: 0;
                }

            }

            p {
                font-size: 50px;
                text-align: center;
                font-weight: 600;
                letter-spacing: 20px;
            }
        }
    }


}

.gameCostume {
    position: relative;
    overflow: hidden;


    .costume {
        margin: 3rem 0;
        height: 90vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .main {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4.5rem 2rem;

        .model {
            width: 600px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {

                object-fit: cover;
            }


            .top {
                position: absolute;
                top: 24%;
                left: 1.5%;
                right: 0;
                margin: auto;
            }

            .bottom {
                position: absolute;
                bottom: 24%;
                left: 2%;
                right: 0;
                margin: auto;
            }

        }



        .list {
            width: 700px;
            height: 100%;
            padding: 2rem 0;
            background-color: #4448;
            border-radius: 50px;

            .type {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0 1rem;

                span {
                    border-radius: 15px;
                    padding: 0.5rem 2.5rem;
                    color: #fff;
                    background-color: #4448;
                    cursor: pointer;

                    &:hover {
                        background-color: aquamarine;
                    }
                }
            }

            .item {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                justify-content: center;
                align-items: center;
                padding: 2rem;
                gap: 20px;

                .pic {


                    img {
                        object-fit: cover;
                        cursor: pointer;

                        &:hover {
                            background-color: chocolate;
                        }

                    }
                }
            }


        }

    }
}




// 遊戲內頁
.gameInner {
    margin: 3rem 0;
    height: 90vh;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .name {
        display: inline-block;
        position: absolute;
        top: 60%;
        left: 15%;
        color: #fff;
        background-color: #4448;
        z-index: 3;
        padding: 10px 20px;
        text-align: center;
        border-radius: 10px 10px 0 0;
        display: flex;
        gap: 5px;

        p {
            font-size: 26px;
        }
    }

    .speechBalloon {
        background-color: #4448;
        width: 70%;
        min-height: 30vh;
        position: absolute;
        bottom: 1%;
        z-index: 2;
        border-radius: 0 50px 50px 50px;
        left: 0;
        right: 0;
        margin: auto;
        padding: 2.5rem;
        cursor: pointer;
        color: #fff;
        overflow: hidden;

        p {
            font-size: 26px;
            line-height: 50px;

        }



        .inputTxt {
            overflow: hidden;
            white-space: nowrap;
            animation: typing 2s steps(90, end);

        }

        @keyframes typing {
            from {
                width: 0;
            }

            to {
                width: 100%;
            }
        }

        .nextBtn {
            font-size: 20px;
            position: absolute;
            right: 5%;
            bottom: 7%;
            animation-name: click;
            animation-iteration-count: infinite;
            animation-duration: 0.55s;
            animation-delay: 0.2ms;
            animation-direction: alternate;
        }

        @keyframes click {

            from {
                bottom: 7%;
            }

            to {
                bottom: 9.5%;
            }
        }
    }

    .lightbox {
        z-index: 5;
        position: absolute;
        inset: 0;

        .option {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            background-color: #fffd;
            border-radius: 50px;
            width: 350px;
            height: 450px;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            align-items: center;
            z-index: 5;


            .btn_s {
                font-size: 26px;
                margin: auto;
            }

        }

    }


    // 插圖
    .chikinshop {
        width: 700px;
        height: 700px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }


    // 包包
    .bag {
        width: 400px;
        height: 450px;
        background-color: #fffd;
        border-radius: 50px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 10;
        animation: openBag 0.3s ease-in-out;


        p {
            font-size: 26px;
            color: black;
        }

        img {
            width: 200px;
            height: auto;
        }

        .btn_s {
            font-size: 20px;
            margin: 0 auto;
        }

        @keyframes openBag {
            from {
                opacity: 0.3;
            }

            to {
                opacity: 1;
            }

        }
    }


    // Loading

    .loading {
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loading 2s linear;
        animation-iteration-count: infinite;

        img {
            position: absolute;
            bottom: 20%;
            right: 0;
            left: 0;
            margin: auto;
            width: 400px;
            height: auto;
        }

        .box {
            fill: black
        }

        .text {
            font-size: 30px;
            fill: #fff;

        }

        .animation-group {
            animation: moveBox 2s ease-in-out both infinite;
        }

        .animation-group:nth-child(2) {
            animation-delay: 200ms;
        }

        .animation-group:nth-child(3) {
            animation-delay: 400ms;
        }

        .animation-group:nth-child(4) {
            animation-delay: 500ms;
        }

        .animation-group:nth-child(5) {
            animation-delay: 600ms;
        }

        .animation-group:nth-child(6) {
            animation-delay: 700ms;
        }

        .animation-group:nth-child(7) {
            animation-delay: 800ms;
        }

        .animation-group:nth-child(8) {
            animation-delay: 900ms;
        }

        .animation-group:nth-child(9) {
            animation-delay: 1000ms;
        }

        .animation-group:nth-child(10) {
            animation-delay: 1100ms;
        }

        @keyframes moveBox {
            20% {
                transform: translateY(50px);
            }

            50% {
                transform: translateY(50px);
            }
        }

        @keyframes loading {

            0% {
                opacity: 1;
            }

            20% {
                opacity: 1;
            }

            40% {
                opacity: 1;
            }

            60% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            98% {
                opacity: 0.8;
            }

            100% {
                opacity: 0;
            }

        }


    }

    // loading 動畫




}

// 結束
.end {
    width: 70%;
    height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 30px;
    background-color: #444c;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    overflow: hidden;

    p {
        display: block;
        width: 100%;
        font-size: 26px;
        color: #fff;
        line-height: 25px;
    }

    .station,
    .info {
        width: 300px;
        height: 450px;
        background: #fff5;
        border-radius: 50px;
        position: relative;
        cursor: pointer;
        margin-top: 3rem;
        transform-style: preserve-3d;
        transition: 0.5s all ease;
        box-shadow: 0px 0px 10px rgba(10, 10, 0.8);

        .FrontCard {
            backface-visibility: hidden;

            img {

                width: 40%;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
            }
        }

        .backCard {
            width: 100%;
            height: 100%;
            transform: rotateY(180deg);
            backface-visibility: hidden;

            .point {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 20px;

                p {
                    font-size: 20px;
                    color: #fff;

                }
            }

            .card-h {
                width: 100%;
                height: 100%;
                border-radius: 50px;
                margin: auto;
                padding: 0;
                color: #fff;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                background-color: transparent;

                .img {

                    img {
                        border-radius: 50px;
                    }
                }

                .text {

                    p {
                        color: #fff;
                        font-size: 20px;
                    }

                    .title {
                        border-bottom: none;
                    }
                }

                .tag {}
            }
        }


    }

    .info {
        margin-left: 8rem;
    }

    .btn {
        margin-top: 2rem;
        width: 100%;
    }


    .info:hover,
    .station:hover {
        transform: rotateY(180deg);
    }

}


img {
    vertical-align: top;
}

@media screen and (max-height: 600px) {
    .gameHome {

        .gameLogo {
            top: 0;
        }

        .start {
            top: 50%;
        }
    }



}

@media screen and (max-width: 768px) {
    .gameHome {

        .gameLogo {
            top: 20%;
            width: 100%;

        }

    }


    .gameInner {


        .name {
            top: 60%;
            left: 5%;

            p {
                font-size: 20px;
            }
        }

        .speechBalloon {
            width: 90%;
            padding: 1.5rem;

            p {
                font-size: 18px;
                line-height: 28px;
            }

            .nextBtn {
                font-size: 18px;
            }

        }

        .lightbox {

            .option {

                .btn_s {
                    font-size: 20px;
                    width: 150px;
                }

            }

        }

        // 插圖
        .chikinshop {
            width: 350px;
            height: 450px;
        }


        // 包包
        .bag {
            width: 90%;
            height: 60%;
        }


        // Loading

        .loading {

            .text {
                font-size: 20px;
                fill: #fff;

            }



        }





    }

    .imgFill {
        object-fit: fill !important;
    }

    .end {

        overflow: auto;

        p {
            display: block;
            width: 100%;
            font-size: 20px;
            color: #fff;
            line-height: 25px;
        }

        .FrontCard {
            display: none;
        }

        .station {
            .backCard {
                transform: rotateY(0deg);
                backface-visibility: initial !important;
            }
        }

        .info {
            margin-left: 0;

            .backCard {
                transform: rotateY(0deg);
                backface-visibility: initial !important;
            }
        }

        .btn {

            .btn_s {
                width: 150px;
            }
        }




    }
}