.--closeHeader {
  display: none;
}

.--closeFooter {
  display: none;
}

.homeNav {
  max-width: 1280px;
  margin: auto;
  // margin-top: 1%;
  padding-inline: 5%;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    // gap: 0.1rem;
    :hover p {
      font-size: 75px;
      text-shadow: 2px 2px 10px #333, 2px 2px 10px #333, 2px 2px 10px #333,
        2px 2px 10px #333;
      font-weight: 800;
    }

    :hover .pic img {
      transform: scaleX(1.1);
      box-shadow: 6px 6px 20px black;
    }

    :hover .pic {
      position: relative;
      z-index: 5;
    }

    :hover a {
      position: absolute;
      z-index: 6;
    }

    li {
      width: 16.6%;
      writing-mode: vertical-rl;
      height: 600px;
      position: relative;

      .pic {
        width: 100%;
        transform: skew(-5deg);
        box-shadow: 0 8px 8px #0006;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }


      a {
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 2;

        p {
          font-size: 64px;
          text-align: end;
          padding-bottom: 1rem;
          padding-right: 1.5rem;
          color: #fff;
          text-shadow: 2px 2px 5px #333, 2px 2px 5px #333, 2px 2px 5px #333,
            2px 2px 5px #333;
          transition: all 0.2s;
        }
      }
    }
  }
  ul li:nth-child(1){
     .pic{
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: info);
     }
      img{
      object-position: 60% 0;
     }
  }
  ul li:nth-child(2){ 
    .pic{
      border: 8px solid #d9d9d9;
      // border: 8px solid map-get($color, $key: tangerine);
    } 
    img{
    object-position: 35% 30%;
  }
    
  }
  ul li:nth-child(3){ 
    .pic{
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: grap);
    } 
    img{
    object-position: 30% 0;
    }
  }
  ul li:nth-child(4){ 
    .pic{
      border: 8px solid #d9d9d9;
      // border: 8px solid map-get($color, $key: choco);
    } 
  }
  ul li:nth-child(5){ 
    .pic{
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: success);
    } 
  }
  ul li:nth-child(6){ 
    .pic{
      border: 8px solid #d9d9d9;
      // border: 8px solid map-get($color, $key: danger);
    } 
  }
  ul li:nth-child(7){ 
    .pic{
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: warning);
    } 
  }
}
.homeBanner {
  max-width: 1100px;
  margin: 3% auto 0;
  // margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-items: center;

  .logo {
    width: 50%;
    margin: auto;
    // margin-top: 5%;

    img {
      margin: auto;
      width: 100%;
      vertical-align: top;
    }
  }

  .swiper {
    width: 100%;
    margin: 0;
    overflow: hidden;

    img {
      width: 100%;
      vertical-align: top;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
}

@media screen and (max-width: 1280px) {
  .homeNav {
    ul {
      li {
        width: 14%;
        height: 60%;

        a {
          p {
            font-size: 50px;
          }
        }

      }
    }
  }

  .homeBanner {
    padding-inline: 8%;
    margin: 4% auto;

    .logo {
      width: 35%;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeNav {
    ul {
      :hover p {
        font-size: 40px;
      }

      li {
        a {
          p {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .--close {
    display: block;

    .header {
      .hb {
        display: none;
      }
    }
  }

  #app {
    border-left: 2rem solid #333;
    overflow: hidden;
  }

  header {
    margin-bottom: 0;
  }

.container {
    position: relative;
    padding-left: 0;
    padding-block: 5%;

    .homeNav {
      width: 100%;
      margin-top: 0%;
      padding-left: 0;

      ul {
        flex-direction: column;
        gap: 5px;

        :hover p {
          font-size: 36px;
        }

        li {
          width: 100%;
          writing-mode: inherit;
          height: 90px;
          left: 0;

          .pic {
            width: 100%;
            height: 100%;
            transform: skewX(-20deg);
            margin-left: -5%;
          }

          a {
            height: 100%;

            p {
              margin-top: 13%;
              margin-right: 2%;
              font-size: 28px;
              padding-bottom: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .homeBanner {
    width: 100%;
    display: inline;
    padding-inline: 5%;

    .swiper {
      width: 250px;
      inset: 0;
      margin: auto;
    }

    .mb-none,
    .logo {
      display: none;
    }
  }
}
.homeWrapper{
  position: relative;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}
.animate {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: #fff;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 5;
    .row-line {
      height: 300px;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      inset: 0;
      margin: auto;

      .r-line {
        height: 70px;
        width: 200vw;
        border-radius: 50px;
      }
    }

    .col-line { 
      width: 300px;
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      inset: 0;
      margin: auto;

      .c-line {
        width: 70px;
        height: 200vh;
        border-radius: 50px;
      }
    }

    .circle {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;

    }
  }
.animateLineGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;      
    position: relative;

    .left{
        width: 18.75%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        animation: fadeInLeft 4.5s ease-out 0s ;
      }
    .right{
      width: 18.75%;
        display: flex;
        right: 0;
        justify-content: space-between;
        position: absolute;
        animation: fadeInRight 4.5s ease-out 0s ;
    }
        .thick{
          width: 20%;
          height: 100vh;
          background-color: #000;
        }
        .slim{
          width: 6%;
        }
        .dark1{
          background-color: #1A1A1A;
        }
        .dark2{
          background-color: #323232;
        }
        .dark3{
          background-color: #4C4C4C;
        }
        .dark4{
          background-color: #666666;
        }
        .dark5{
          background-color: #808080;
        }
        .dark6{
          background-color: #9A9A9A;
        }
        .dark7{
          background-color: #B4B4B4;
        }
        .dark8{
          background-color: #CCCCCC;
        }
        .dark9{
          background-color: #E6E6E6;
        }

  }
@keyframes fadeInLeft{
    0%{ left: -100%;}
  100%{ left: 0;}
}
@keyframes fadeInRight{
    0%{ right: -100%;}
  100%{ right: 0;}
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 2s ease-in 0s; /* Apply the fadeOut animation */
}
