.--closeHeader {
  display: none;
}

.--closeFooter {
  display: none;
}

.homeNav {
  max-width: 1200px;
  margin: auto;
  margin-top: 1%;
  padding-inline: 5%;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    // gap: 0.1rem;
    :hover p {
      font-size: 75px;
      text-shadow: 2px 2px 10px #333, 2px 2px 10px #333, 2px 2px 10px #333,
        2px 2px 10px #333;
      font-weight: 800;
    }

    :hover .pic img {
      transform: scaleX(1.1);
      box-shadow: 6px 6px 20px black;
    }

    :hover .pic {
      position: relative;
      z-index: 5;
    }

    :hover a {
      position: absolute;
      z-index: 6;
    }

    li {
      width: 16.2%;
      writing-mode: vertical-rl;
      height: 600px;
      position: relative;

      .pic {
        width: 98%;
        transform: skew(-5deg);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a {
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 2;

        p {
          font-size: 64px;
          text-align: end;
          padding-bottom: 1rem;
          padding-right: 1.5rem;
          color: #fff;
          text-shadow: 2px 2px 5px #333, 2px 2px 5px #333, 2px 2px 5px #333,
            2px 2px 5px #333;
          transition: all 0.2s;
        }
      }
    }
  }
}

.homeBanner {
  max-width: 1100px;
  margin: 3% auto;
  // margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  align-items: center;

  .logo {
    width: 50%;
    margin: auto;
    // margin-top: 5%;

    img {
      margin: auto;
      width: 100%;
      vertical-align: top;
    }
  }

  .swiper {
    width: 100%;
    margin: 0;
    overflow: hidden;

    img {
      width: 100%;
      vertical-align: top;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
}

@media screen and (max-width: 1280px) {
  .homeNav {
    ul {
      li {
        width: 14%;
        height: 60%;

        a {
          p {
            font-size: 50px;
          }
        }

      }
    }
  }

  .homeBanner {
    padding-inline: 8%;
    margin: 4% auto;

    .logo {
      width: 35%;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeNav {
    ul {
      :hover p {
        font-size: 40px;
      }

      li {
        a {
          p {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .--close {
    display: block;

    .header {
      .hb {
        display: none;
      }
    }
  }

  #app {
    border-left: 2rem solid #333;
    overflow: hidden;
  }

  header {
    margin-bottom: 0;
  }

  .container {
    position: relative;
    padding-left: 0;
    padding-block: 5%;

    .homeNav {
      width: 100%;
      margin-top: 0%;
      padding-left: 0;

      ul {
        flex-direction: column;
        gap: 5px;

        :hover p {
          font-size: 36px;
        }

        li {
          width: 100%;
          writing-mode: inherit;
          height: 90px;
          left: 0;

          .pic {
            width: 100%;
            height: 100%;
            transform: skewX(-20deg);
            margin-left: -5%;
          }

          a {
            height: 100%;

            p {
              margin-top: 13%;
              margin-right: 2%;
              font-size: 28px;
              padding-bottom: 0;
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .homeBanner {
    width: 100%;
    display: inline;
    padding-inline: 5%;

    .swiper {
      width: 250px;
      inset: 0;
      margin: auto;
    }

    .mb-none,
    .logo {
      display: none;
    }
  }
}