.homeWrapper{
  position: relative;
  max-width: 100%;
  height: 100vh;
  // overflow: hidden;
}
.homeNav {
  max-width: 1280px;
  margin: auto;
  // margin-top: 1%;
  padding-inline: 5%;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    // gap: 0.1rem;
    :hover p {
      font-size: 75px;
      text-shadow: 3px 3px 5px #333, 3px 3px 5px #333, 3px 3px 5px #333,
        3px 3px 5px #333;
      font-weight: 800;
    }

    :hover .pic img {
      transform: scaleX(1.1);
      box-shadow: 6px 6px 20px black;
    }

    :hover .pic {
      position: relative;
      z-index: 5;
    }

    :hover a {
      position: absolute;
      z-index: 6;
    }

    li {
      width: 16.6%;
      writing-mode: vertical-rl;
      height: 600px;
      position: relative;
      top: -100vh;

      .pic {
        width: 100%;
        transform: skew(-5deg);
        box-shadow: 0 8px 8px #0006;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      a {
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 2;

        p {
          font-size: 64px;
          text-align: end;
          padding-bottom: 1rem;
          padding-right: 1.5rem;
          color: #fff;
          text-shadow: 3px 3px 0px #000, 3px 3px 0px #000, 3px 3px 0px #000,
            3px 3px 0px #000;
          transition: all 0.2s;
        }
      }
    }
  }

  @keyframes flyIn {
    0% {
      top: -100vh;
    }

    100% {
      top: 0;
    }
  }

  ul li:nth-child(1) {
    animation: flyIn 0.2s 4.1s forwards;

    .pic {
      border: 8px solid #000;
    }

    img {
      object-position: 60% 0;
    }
  }

  ul li:nth-child(2) {
    animation: flyIn 0.2s 4.2s forwards;

    .pic {
      border: 8px solid #d9d9d9;
      // border: 8px solid map-get($color, $key: tangerine);
    }

    img {
      object-position: 35% 30%;
    }
  }

  ul li:nth-child(3) {
    animation: flyIn 0.2s 4.3s forwards;

    .pic {
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: grap);
    }

    img {
      object-position: 30% 0;
    }
  }

  ul li:nth-child(4) {
    animation: flyIn 0.2s 4.4s forwards;

    .pic {
      border: 8px solid #d9d9d9;
      // border: 8px solid map-get($color, $key: choco);
    }
  }

  ul li:nth-child(5) {
    animation: flyIn 0.2s 4.5s forwards;

    .pic {
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: success);
    }
  }

  ul li:nth-child(6) {
    animation: flyIn 0.2s 4.6s forwards;

    .pic {
      border: 8px solid #d9d9d9;
      // border: 8px solid map-get($color, $key: danger);
    }
  }

  ul li:nth-child(7) {
    animation: flyIn 0.2s 4.7s forwards;

    .pic {
      border: 8px solid #000;
      // border: 8px solid map-get($color, $key: warning);
    }
  }
}

.homeBanner {
  max-width: 1200px;
  margin: 5% auto;
  // margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .logo {
    grid-column: 3 / 4;
    width: 50%;
    margin: auto;
    // margin-top: 5%;

    img {
      margin: auto;
      width: 100%;
      vertical-align: top;
    }
  }
  .swiper.left{
    grid-column: 1 / 3;
  }
  .swiper.right{
    grid-column: 4 / 6;
  }
  .swiper {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      vertical-align: top;
    }

    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
}

@media screen and (max-width: 1280px) {
  .homeNav {
    // margin: 7% auto;

    ul {
      li {
        width: 14%;
        height: 65%;

        a {
          p {
            font-size: 50px;
          }
        }
      }
    }
  }

  .homeBanner {
    max-width: 85%;
    height: 25%;
    // padding-inline: 8%;
    margin: 1% auto;
    .swiper{
      width: 100%;
      height: 60%;
      margin: auto;
    }

    .logo {
      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeNav {
    ul {
      :hover p {
        font-size: 40px;
      }

      li {
        a {
          p {
            font-size: 36px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .--close {
    display: block;

    .header {
      .hb {
        display: none;
      }
    }
  }

  // #app {
  //   border-left: 2rem solid #333;
  //   overflow: hidden;
  // }

  header {
    margin-bottom: 0;
  }

  .homeNav {
    width: 100%;
    margin-top: 0%;
    padding-left: 0;

    ul {
      flex-direction: column;
      gap: 5px;

      :hover p {
        font-size: 36px;
      }

      li {
        width: 100%;
        writing-mode: inherit;
        height: 90px;
        left: 0;

        .pic {
          width: 100%;
          height: 100%;
          transform: skewX(-20deg);
          margin-left: -5%;
        }

        a {
          height: 100%;

          p {
            margin-top: 13%;
            margin-right: 2%;
            font-size: 28px;
            padding-bottom: 0;
            padding-right: 0;
          }
        }
      }
    }
  }

  .homeBanner {
    width: 100%;
    display: block;
    margin: 0 auto;

    .swiper {
      width: 100%;
      height:35%;
      inset: 0;
      margin: 12% auto;
    }

    .mb-none,
    .logo {
      display: none;
    }
  }
}

.homeWrapper {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
