.mainWrapper{
    width: 62.5%;
    height: 100vh;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    .logo{
        inset: 0;
        margin: auto;
        background-color: transparent;
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 99%;
            border-radius: 50%;
            box-shadow: 0 5px 10px #0008;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;

        }
    }
}
    .front{
        width: 30%;
        position: relative;
        .title{
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        writing-mode: vertical-rl;
        text-align: center;
        z-index: 6;
    }
    }
    .back {
     transform: rotate(180deg);
     .title{
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(180deg);
        writing-mode: vertical-rl;
        text-align: center;
        z-index: 6;
        }
    }
    .centerline{
        display: none;
    }
    .router {
    width: 250px;
    height: 100vh;
    display: block;
    /* position: fixed; */
    top: 0;
    z-index: -2;

    .swiper {
        width: 250px;
        height: 100%;
        overflow: hidden;

        .swiper-wrapper {
        transition-timing-function: linear !important;

        .swiper-slide {
            width: 250px;
        }

        img {
            width: 250px;
            vertical-align: top;
        }
        }
    }
    }

@media screen and (max-width: 1280px){
    .mainWrapper{
        .router{
            width: 15%;
            .title{
                transform: translateX(20%) translateY(-50%);
                a img{
                    height: 500px;
                }
            }
        }
        .back{
            .title{
                transform: translateX(20%) translateY(-50%) rotateZ(180deg)
            }
        } 
        .centerline .logo::after{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }
    }
}
@media screen and (max-width: 414px) {
    .mainWrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        .logo{
            display: none;
            width: 40%;
            inset: 0;
            margin: auto;
            background-color: transparent;
            position: relative;
            img{
                width: 100%;
            };
            &::after{
                content: "";
                width: 100%;
                height: 99%;
                border-radius: 50%;
                box-shadow: 0 5px 10px #0008;
                top: 0;
                left: 0;
                position: absolute;
                z-index: -1;
    
            }
        }
        .router{
            width: 33.333%;
            .swiper{
                width: 100%;
                .swiper-wrapper{
                    width: 100%;
                    .swiper-slide{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    } 

                }
            }
        }
        .front{
            width: 33.333%;
            .title{
                transform: translateX(-50%) translateY(-50%) scale(.5);
            }
        } 

        .centerline {
            z-index: -3;
            display: block;
            width: 45%;
            height: 100vh;
            position: relative;
            .logo{
                display: block;
                width: 150px;
                height: 150px;
                inset: 0;
                margin: auto;
                background-color: transparent;
                position: absolute;
                img{
                    width: 100%;
                }
            }
            .animateLineGroup {
            width: 100%;
            .left {
              width: 50%;
              animation: fadeInLeft .5s ease-out 0s;
            }
            .right {
              width: 50%;
              animation: fadeInRight .5s ease-out 0s;
            }
        }
        }
        .back{
            .title{
                transform: translateX(-50%) translateY(-50%) 
                       rotate(180deg) scale(.5);
            }
        } 

    }
}



@keyframes goIn {
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


//   .centerline{
//     position: relative;
//     .logo{
//         width: 40%;
//         inset: 0;
//         margin: auto;
//         background-color: transparent;
//         position: absolute;
//         img{
//             width: 100%;
//         };
//         &::after{
//             content: "";
//             width: 100%;
//             height: 99%;
//             border-radius: 50%;
//             box-shadow: 0 5px 10px #0008;
//             top: 0;
//             left: 0;
//             position: absolute;
//             z-index: -1;

//         }}}