.mainWrapper{
    width: 62.5%;
    height: 100vh;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    .logo{
        inset: 0;
        margin: auto;
        background-color: transparent;
        position: relative;
        &::after{
            content: "";
            width: 100%;
            height: 99%;
            border-radius: 50%;
            box-shadow: 0 5px 10px #0008;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;

        }
    }
}
    .front{
        position: relative;
        .title{
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        writing-mode: vertical-rl;
        text-align: center;
        font-size:100px;
        font-weight: 800;
        letter-spacing: 2rem;
        z-index: 6;
    }
    }
    .back {
     transform: rotate(180deg);
     .title{
        position: absolute;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(180deg);
        writing-mode: vertical-rl;
        text-align: center;
        font-size:100px;
        font-weight: 800;
        letter-spacing: 2rem;
        z-index: 6;
        }
    }

    .router {
    width: 250px;
    height: 100vh;
    display: block;
    /* position: fixed; */
    top: 0;
    z-index: -2;

    .swiper {
        width: 250px;
        height: 100%;
        overflow: hidden;

        .swiper-wrapper {
        transition-timing-function: linear !important;

        .swiper-slide {
            width: 250px;
        }

        img {
            width: 250px;
            vertical-align: top;
        }
        }
    }
    }