.mrtContibuteInPage {
  p {
    line-height: 3rem;
    font-size: 21px;
  }
  .mbart {
    display: none;
  }
  .title {
    width: 62.5%;
    margin: 1rem auto;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
  }
  .image {
    box-shadow: 0 10px 10px #5556;
  }
  .fixCenter {
    width: 100%;
    inset: 0;
    margin: 3rem auto 2rem;
    background-size: cover;
    .imageArea {
      width: 100%;
      background-size: cover;
      background-position: 50%;
      .image {
        width: 62.5%;
        inset: 0;
        margin: auto;
      }
      img {
        width: 100%;
        vertical-align: top;
        object-fit: cover;
      }
    }
    p {
      width: 62.5%;
      inset: 0;
      font-weight: 500;
      text-align: center;
      margin: 8rem auto;
    }
  }
  .part2 {
    p {
      font-weight: 500;
      text-align: left;
    }
  }
  .part3 {
    width: 100%;
    background-size: cover;
    background-position: 50%;
    .content {
      width: 75%;
      inset: 0;
      margin: auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      .image {
        width: 50%;
        z-index: 1;

        img {
          width: 100%;
          vertical-align: top;
          object-fit: cover;
        }
      }
      article {
        background-color: #fff;
        transform: skew(-19deg);
        width: 50%;
        // height: 600px;
        inset: 0;
        margin: auto;
        z-index: 0;
        p {
          width: 100%;
          padding: 0 5rem;
          transform: skew(19deg);
          font-weight: 500;
          text-align: left;
        }
      }
    }
  }
  .part4 {
    width: 100%;
    background-size: cover;
    background-position: 50%;
    .content {
      width: 75%;
      inset: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      .image {
        width: 50%;
        z-index: 1;

        img {
          width: 100%;
          vertical-align: top;
          object-fit: cover;
        }
      }
      article {
        background-color: #fff;
        transform: skew(19deg);
        width: 50%;
        // height: 600px;
        inset: 0;
        margin: auto;
        z-index: 0;
        p {
          width: 100%;
          padding: 0 5rem;
          transform: skew(-19deg);
          font-weight: 500;
          text-align: left;
        }
      }
    }
  }
  .seperate {
    width: 75%;
    inset: 0;
    margin: 5rem auto 0;
    svg {
      width: 100%;
    }
  }
  .detail {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 2rem;
    padding: 0 0 3rem 0;
    .leftSide{
      width: 100%;
      p {
        width: 100%;
        font-weight: 500;
        text-align: left;
        margin: 0;
        font-size: 16px;
      }
    }

    .officialWeb{
      display: inline;
    }
  }
}
@media screen and (max-width: 768px) {
  .mrtContibuteInPage {
    p {
      line-height: 2.5rem;
      font-size: 16px;
    }
    .title {
      width: 90%;
    }
    .image {
      box-shadow: 0 6px 6px #0005;
    }
    .fixCenter {
      .imageArea {
        background-position: 15% 0;
        display: flex;
        align-items: center;
        .image {
          width: 85%;
          img{
            width: 100%;
          }
        }
      }
      p {
        width: 80%;
        margin: 3rem auto;
        text-align: left;
      }
    }
    .mbart {
      display: block;
      // text-align: center;
      width: 75%;
      inset: 0;
      margin: 7rem auto;
    }
    .part3 {
      height: auto;
      background-size: cover;
      .content {
        width: 80%;
        .image {
          width: 100%;
          height: 100%;
          img {
            height: 100%;
          }
        }
        article {
          display: none;
        }
      }
    }
    .part4 {
      height: auto;
      background-size: cover;
      .content {
        width: 80%;
        .image {
          width: 100%;
          height: 100%;
          img {
            height: 100%;
          }
        }
        article {
          display: none;
        }
      }
    }
    .seperate {
      width: 100%;
    }
    .detail {
      width: 90%;
      display: block;
      flex-wrap: wrap;

      .leftSide{
        margin-bottom: 3rem;
        .detailTxt {
          width: 100%;
        }
        .timelTxt {
          width: 100%;
        }
        p {
          width: 100%;
          margin: 0;
          font-size: 14px;
          text-align: center;
        }
      }
      .officialWeb{
        width: 300px;
        display: block;
        inset: 0;
        margin: auto;
        button{
          width: 100%;
          inset: 0;
          margin: auto;
        }
    }
    }

}

@media screen and (max-width: 414px) {
  .mrtContibuteInPage {
    p {
      line-height: 2.5rem;
      font-size: 16px;
    }
    .title {
      width: 90%;
    }
    .image {
      box-shadow: 0 6px 6px #0005;
    }
    .fixCenter {
      .imageArea {
        height: 220px;
        background-position: 15% 0;
        display: flex;
        align-items: center;
        .image {
          width: 90%;
        }
      }
      p {
        width: 90%;
        margin: 3rem auto;
      }
    }
    .mbart {
      display: block;
      // text-align: center;
      width: 90%;
      inset: 0;
      margin: 3rem auto;
    }
    .part3 {
      height: 215px;
      background-size: contain;
      .content {
        .image {
          width: 300px;
          height: 215px;
          img {
            height: 100%;
          }
        }
        article {
          display: none;
        }
      }
    }
    .part4 {
      height: 215px;
      background-size: contain;
      .content {
        .image {
          width: 300px;
          height: 215px;
          img {
            height: 100%;
          }
        }
        article {
          display: none;
        }
      }
    }
    .seperate {
      width: 100%;
    }
    .detail {
      width: 100%;
      .detailTxt {
        width: 100%;
      }
      .timeTxt {
        width: 100%;
      }
      p {
        width: 100%;
        margin: 0;
        font-size: 14px;
      }
      .officialWeb{
        width: 90%;
        margin-bottom: 0rem;
        .medium{
          width: 100%;
          .btn_m{
            width: 100%;
          }
        }
      }
    }

  }
}
}