.mrtTitle {
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: 40px;
  }
}

.mrtLineCheck {
  overflow: hidden;



  @keyframes flyIn {
    0% {
      left: 150%;
    }

    100% {
      left: 50%;
    }
  }

  .mrtPic {
    position: relative;
    display: flex;
    min-width: 1200px;
    left: 150%;
    transform: translate(-50%, 0%);
    background-color: #000c;
    padding-block: 30px;
    animation: flyIn 0.5s forwards;

    img {
      object-fit: cover;
      height: 100%;
    }

    .pic {
      width: 10%;
      height: 400px;
      overflow: hidden;
      transform: skew(-5deg);
      position: relative;
      overflow: hidden;
      cursor: pointer;
    }

    .mrtMainLine {
      transform: skew(-5deg);
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 60%;
      box-shadow: 0 5px 15px #0008;

      .pic {
        width: 16.6666%;
        transform: skew(0deg);
        z-index: 2;

        img {
          transform: skew(5deg) translateX(-18px);
        }
      }
    }

    .pic.mrtGrayStyle {
      transform: skew(-5deg);
      filter: grayscale(100%);

      img {
        transform: skew(5deg) translateX(-18px);
      }
    }
  }
}

.mrt-tagGroup {
  width: 100%;
  position: relative;
  .lineGroup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    .slim {
      height: 20%;
      opacity: 0.5;
    }

    .dark5 {
      background-color: #666666;
      // top: -2px;
    }
    .dark6 {
      background-color: #808080;
      // margin-block: 2rem;
    }
    .dark7 {
      background-color: #9a9a9a;
      // margin-block: 4rem;
    }
    .dark8 {
      background-color: #b4b4b4;
    }
    .dark9 {
      background-color: #e6e6e6;
    }
  }

  max-width: 100%;
  margin-inline: auto;
  position: sticky;
  // backdrop-filter: blur(5px);
  background: #000c;
  top: 0;
  z-index: 3;

  .mrtTag {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding-inline: 2%;
    position: relative;
    font-size: 24px;

    .title-tag {
      font-size: 18px;
      padding: 1rem 0;
      width: 12%;
      margin: 2rem auto 2rem;
      inset: 0;
      position: relative;
      background: #fff;
      box-shadow: 0 2px 10px #0008;
      display: block;
      cursor: pointer;
      transition: all 0.3s;

      &::after {
        content: "";
        position: absolute;
        height: 95px;
        top: -145%;
        left: 50%;
        z-index: -1;
      }
    }

    .redClick {
      color: #fff;
      background-color: map-get($color, $key: danger);
    }
    .blueClick {
      color: #fff;
      background-color: map-get($color, $key: info);
    }
    .greenClick {
      color: #fff;
      background-color: map-get($color, $key: success);
    }
    .yellowClick {
      color: #fff;
      background-color: map-get($color, $key: warning);
    }
    .orangeClick {
      color: #fff;
      background-color: map-get($color, $key: tangerine);
    }
    .brownClick {
      color: #fff;
      background-color: map-get($color, $key: choco);
    }

    .red {
      &::after {
        border-left: 5px solid map-get($color, $key: danger);
      }

      &:hover,
      &:active {
        background-color: map-get($color, $key: danger);
        color: #fff;
      }
    }

    .blue {
      &::after {
        border-left: 5px solid map-get($color, $key: info);
      }

      &:hover,
      &:active {
        background-color: map-get($color, $key: info);
        color: #fff;
      }
    }

    .green {
      &::after {
        border-left: 5px solid map-get($color, $key: success);
      }

      &:hover,
      &:active {
        background-color: map-get($color, $key: success);
        color: #fff;
      }
    }

    .orange {
      &::after {
        border-left: 5px solid map-get($color, $key: tangerine);
      }

      &:hover,
      &:active {
        background-color: map-get($color, $key: tangerine);
        color: #fff;
      }
    }

    .brown {
      &::after {
        border-left: 5px solid map-get($color, $key: choco);
      }

      &:hover,
      &:active {
        background-color: map-get($color, $key: choco);
        color: #fff;
      }
    }

    .yellow {
      &::after {
        border-left: 5px solid map-get($color, $key: warning);
      }

      &:hover,
      &:active {
        background-color: map-get($color, $key: warning);
        color: #fff;
      }
    }
  }
}

.mrtBanner:nth-of-type(2) {
  right: 0;
  transform: rotate(180deg);
}

.mrtBanner {
  width: 20%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  z-index: -2;

  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-wrapper {
      transition-timing-function: linear !important;

      .swiper-slide {
        width: 80%;
      }
      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

// --------------------------------------------
.dottedLineBox {
  margin-top: 5%;

  .dottedLine {
    background: #e8e7ee;
    width: 68.45%;
    height: 6px;
    margin: auto;
  }
}

/* 站點板塊 */
.mrtWrappo {
  margin-top: 5%;

  .mrtWrap {
    .mrtSta {
      background-image: url(/public/img/mrt_smallarr.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2% 100%;
      max-width: 1200px;
      margin: auto;
      padding: 2% 2% 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;

      /* 站點文字介紹 */
      .mrtStaTxt {
        width: 34.5%;
        background-color: #ffffff;
        padding: 10px 35px 20px 35px;
        border: #c9c9c9 solid 3px;

        h2 {
          font-size: 24px;
        }
      }

      /* 站點圖跟捷運圖 */
      .mrtStaBox {
        width: 48.5%;
        display: flex;
        justify-content: end;
        align-items: center;

        .mrtStaMaruBox {
          width: 20%;
          cursor: pointer;

          .mrtStaMaru {
            width: 100%;
          }
        }

        .mrtStaPicBox {
          width: 70%;
          cursor: pointer;

          .mrtStaPic {
            width: 100%;
            border-radius: 50%;
            border: #c9c9c9 solid 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
              rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          }
        }
      }
    }

    .CBPost {
      max-width: 1200px;
      max-height: 600px;
      width: 90%;
      height: 80%;
      // background-color: #d9d9d9;
      padding: 30px;
      display: flex;
      position: fixed;
      inset: 0;
      margin: auto;
      z-index: 10;

      .mrtTagbar {
        position: fixed;
        width: 120px;
        height: 120px;
        right: 3%;
        bottom: 5%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        z-index: 5;
    
        .checkBox {
          position: relative;
          right: 120%;
          bottom: 0%;
          width: 100px;
          height: 180px;
    
          .box {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 3px solid #d9d9d9;
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
    
            button {
              display: block;
              inset: 0;
              width: 80%;
              height: 25%;
              border-radius: 10px;
              border: 3px solid #d9d9d9;
              background: white;
              transition: all 0.3s;
              cursor: pointer;

              &:hover {
                background: #7d7d7d;
                color: white;
                border: 3px solid #7d7d7d;
              }
            }
    

          }
    
          .triangle {
            position: absolute;
            left: 96%;
            width: 25px;
            height: 25px;
            top: 0;
            bottom: 0;
            margin-block: auto;
            clip-path: polygon(0 20%, 0 80%, 100% 50%);
            background: #d9d9d9;
    
            &::before {
              content: "";
              position: absolute;
              display: block;
              height: 25px;
              width: 25px;
              left: -25%;
              clip-path: polygon(0 25%, 0 75%, 100% 50%);
              background: white;
            }
          }
        }
    
        .outer-circle {
          width: 90%;
          height: 90%;
          position: absolute;
          border-radius: 50%;
          z-index: 2;
          background: #fff;
        }
    
        .color-circle {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
    
          background: -webkit-linear-gradient(
            left,
            red 0%,
            orange 20%,
            yellow 40%,
            green 60%,
            blue 80%,
            violet 100%
          );
          animation: spin 1.5s steps(90) infinite;
        }
    
        .inner-circle {
          z-index: 3;
          position: absolute;
    
          img {
            width: 100%;
          }
        }
    
        @keyframes spin {
          from {
            -webkit-transform: rotate(0deg);
          }
    
          to {
            -webkit-transform: rotate(360deg);
          }
        }
      }

      .box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #fff;
        position: relative;

        .closePost {
          background-color: black;
          font-size: 50px;
          font-weight: 1000;
          color: #fff;
          border-radius: 50px;
          width: 60px;
          height: 60px;
          display: inline-block;
          position: absolute;
          text-align: center;
          line-height: 50px;
          right: 0%;
          top: 0%;
          cursor: pointer;
          z-index: 15;
        }

        .closePost:hover {
          background-color: map-get($color, $key: danger);
        }

        // 卡片輪播
        .swiperMRTCard {
          position: relative;
          margin: auto;
          overflow: hidden;
          width: 100%;
          height: 100%;

          .swiper-button-prev {
            position: absolute;
            margin-block: auto;
            height: 100%;
            top: 0;
            bottom: 0;
            width: 10%;
            color: #32c8e1;
  
            &::after {
              left: 0;
              position: absolute;
              font-size: 50px;
            }
          }
  
          .swiper-button-next {
            position: absolute;
            margin-block: auto;
            height: 100%;
            top: 0;
            bottom: 0;
            width: 10%;
            color: #32c8e1;
  
            &::after {
              right: 0;
              font-size: 50px;
              position: absolute;
            }
          }

          // .swiper-btn {
          //   color: #838383;
          // }

          .swiper-wrapper{

            // 卡片樣式
            .swiper-slide {
              // width: 300px;
              height: 100%;

              .cardHeight{
                height: 100%;
  
                .mrtCardWrap {
                  height: 100%;
    
                  .card-h {
                    border: none;
                    // box-shadow: rgba(126, 126, 126, 0.3) 0px 2px 4px,
                    //   rgba(126, 126, 126, 0.3) 0px 7px 13px -3px,
                    //   rgba(126, 126, 126, 0.3) 0px -3px 5px inset;
                    // background-color: #ffffff;
                    // width: 350px;
                    margin: 0%;
                    padding: 1rem;
                    // height: 100%;
    
                    .img {
                      height: 55%;
                      overflow: hidden;
    
                      img {
                        height: 100%;
                        border-radius: 0px;
                        object-fit: cover;
                      }
                    }
                    .text {
                      margin: 1rem 0.5rem;
                      .txt {
                        margin-top: 10px;
                        -webkit-line-clamp: 5;
                      }
                    }
                  }
                }
              }

            }
          }
        }


      }
    }
  }
}

.lightBox {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  inset: 0;
  z-index: 9;
  opacity: 0.7;
}

/* 站點板塊左右對調 */
.mrtWrap:nth-of-type(even) {
  .mrtSta {
    flex-direction: row-reverse;

    .mrtStaBox {
      flex-direction: row-reverse;
      justify-content: start;

      .mrtStaMaruBox {
        transform: scaleX(-1);
      }
    }
  }
}

.box-enter-active,
.box-leave-active {
  transition: 0.4s linear;
}

.box-enter-from,
.box-leave-to {
  transform: translateX(-20%);
  opacity: 0;
}

.box-enter-to,
.box-leave-from {
  opacity: 1;
}

/* 美食住宿景點卡片動態 */
.mrtCardWrap {
  display: flex;
  justify-content: center;
}
.fade-enter-active {
  transition: 0.8s ease;
}
.fade-leave-active {
  transition: 0.5s linear;
}

.fade-enter-from,
.fade-leave-to {
  transform: translateY(-20%);
  opacity: 0;
}
.fade-leave-from {
  transform: translateY(20%);
  opacity: 1;
}

.fade-enter-to {
  opacity: 1;
}

// --------------------------------------------

@media (min-width: 1921px) {
  .mrtBanner:nth-of-type(2) {
    left: calc(50% + 196px);
  }
}

@media screen and (max-width: 1280px) {
  .mrtBanner {
    width: 15%;
  }
  .mrtLineCheck {
    .mrtPic {
      justify-content: center;
      min-width: 300px;

      .mrtMainLine {
        width: 95%;
      }
    }

    .mrtGrayStyle {
      display: none;
    }
  }
  /* 站點板塊 */
  .mrtWrappo {
    .mrtWrap {
      .CBPost {
        // width: 90%;
        // height: 600px;

        .box {
          .closePost {
            top: -3%;
            right: -3%;
            scale: 0.8;
          }
          .swiperMRTCard {
            width: 100%;
            .swiper-slide {
              height: 530px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mrtLineCheck {
    .mrtPic {
      padding-block: 15px;
      min-width: 100%;
      height: 300px;

      .mrtMainLine {
        inset: 0;
        margin: 0 3%;
        width: 95%;

        .pic {
          height: 100%;
          bottom: 0px;
        }

        a {
          height: 100%;
          bottom: 0;
        }
      }
    }
  }

  .mrt-tagGroup {
    .mrtTag {
      width: 100vw;
      max-width: 100vw;
      padding: 0% 3%;

      .title-tag {
        margin: 2rem 0.5rem;
      }

      .red {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .blue {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .green {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .orange {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .brown {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .yellow {
        &::after {
          height: 50px;
          top: -100%;
        }
      }
    }
  }

  /* 站點板塊 */
  .mrtWrappo {
    .mrtWrap {
      .CBPost {
        width: 90%;
        height: 70%;

        .mrtTagbar {
          width: 100px;
          height: 100px;
          bottom: 8%;
        }

        .box {
          width: 100%;

          .head {
            bottom: -17%;
            right: -10%;
          }

          .swiperPost {
            margin: 1rem;
          }
          // .closePost {
          //   top: -2%;
          //   right: 4%;
          // }
          .inner {
            height: 105%;
          }
          .swiperMRTCard {
            // width: 80%;
            .swiper-slide {
              height: 420px;
              .mrtCardWrap {
                .card-h {
                  // width: 300px;
                  .text {
                    .txt {
                      -webkit-line-clamp: 4;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .mrtSta {
        .mrtStaTxt {
          padding: 10px 40px 20px 40px;

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  .mrtBanner {
    width: 10%;
  }
}

@media screen and (max-width: 414px) {
  .mrtLineCheck {
    .mrtPic {
      min-width: 100%;
      height: 200px;
    }
  }

  .mrt-tagGroup {
    .mrtTag {
      padding-inline: 0%;
      justify-content: space-evenly;
      width: 100%;

      .title-tag {
        font-size: 14px;
        width: 12%;
        padding: 0.5rem 0;
        margin: 2rem 0px;
      }

      .red {
        &::after {
          top: -150%;
        }
      }

      .blue {
        &::after {
          top: -150%;
        }
      }

      .green {
        &::after {
          top: -150%;
        }
      }

      .orange {
        &::after {
          top: -150%;
        }
      }

      .brown {
        &::after {
          top: -150%;
        }
      }

      .yellow {
        &::after {
          top: -150%;
        }
      }
    }
  }

  /* 站點板塊 */
  .mrtWrappo {
    .mrtWrap {
      .CBPost {
        // width: 95%;
        // height: 80%;
        margin: auto;

        .mrtTagbar {
          width: 80px;
          height: 80px;
        }

        .box {
          flex-direction: column;
          width: 100%;
          height: 100%;
          padding: 0;
          .closePost {
            top: -15%;
            right: -12%;
          }
          // 卡片輪播
          .swiperMRTCard {
            .swiper-button-prev {
              width: 20%;
            }

            .swiper-button-next {
              width: 20%;
            }

            .swiper-slide {
              height: 380px;

              .mrtCardWrap {
                // 卡片樣式
                .card-h {
                  // width: 100%;

                  .text {
                    margin-top: 0px;
                    .txt {
                      -webkit-line-clamp: 3;
                    }
                    h3 {
                      font-size: 18px;
                      line-height: 35px;
                    }
                  }

                  .tag {
                    display: flex;
                    width: 150px;
                    gap: 10px;

                    .title-tag {
                      margin: 0px;
                      padding: 2px 5px;
                      font-size: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .mrtSta {
        background-image: url(/public/img/mrt_smallarr.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5% 100%;
        max-width: 1200px;
        margin: auto;
        padding: 2% 2% 0 2%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        /* 站點文字介紹 */
        .mrtStaTxt {
          margin: 5% 0 20% 0;
          width: 50%;
          padding: 0px 20px 0px 20px;
          text-align: center;

          h2 {
            font-size: 20px;
          }

          p {
            display: none;
          }
        }

        /* 站點圖跟捷運圖 */
        .mrtStaBox {
          justify-content: center;
          width: 80%;

          .mrtStaMaruBox {
            display: none;
          }
        }
      }
    }
  }
}
