.mrtTitle {
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: 40px;
  }
}

.mrtLineCheck {
  overflow: hidden;

  .mrtTagbar {
    position: fixed;
    width: 120px;
    height: 120px;
    right: 3%;
    bottom: 5%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .checkBox {
      position: relative;
      right: 120%;
      bottom: 0%;
      width: 100px;
      height: 180px;

      .box {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 3px solid #d9d9d9;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        button {
          display: block;
          inset: 0;
          width: 80%;
          height: 25%;
          border-radius: 10px;
          border: none;
          background: initial;
          transition: all 0.3s;
        }

        button:hover {
          background: #7d7d7d;
          color: white;
        }
      }

      .triangle {
        position: absolute;
        left: 96%;
        width: 25px;
        height: 25px;
        top: 0;
        bottom: 0;
        margin-block: auto;
        clip-path: polygon(0 20%, 0 80%, 100% 50%);
        background: #d9d9d9;

        &::before {
          content: "";
          position: absolute;
          display: block;
          height: 25px;
          width: 25px;
          left: -25%;
          clip-path: polygon(0 25%, 0 75%, 100% 50%);
          background: white;
        }
      }
    }

    .outer-circle {
      width: 90%;
      height: 90%;
      position: absolute;
      border-radius: 50%;
      z-index: 2;
      background: #fff;
    }

    .color-circle {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      background: -webkit-linear-gradient(
        left,
        red 0%,
        orange 20%,
        yellow 40%,
        green 60%,
        blue 80%,
        violet 100%
      );
      animation: spin 1.5s steps(90) infinite;
    }

    .inner-circle {
      z-index: 3;
      position: absolute;

      img {
        width: 100%;
      }
    }

    @keyframes spin {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }

  .mrtPic {
    position: relative;
    display: flex;
    min-width: 1200px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #000;
    padding-block: 30px;

    img {
      object-fit: cover;
      height: 100%;
    }

    .pic {
      width: 10%;
      height: 400px;
      overflow: hidden;
      transform: skew(-5deg);
      position: relative;
      bottom: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .mrtMainLine {
      transform: skew(-5deg);
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 60%;

      .pic {
        width: 16.6666%;
        transform: skew(0deg);

        img {
          transform: skew(5deg) translateX(-18px);
        }
      }
    }
    .pic.mrtGrayStyle {
      transform: skew(-5deg);
      filter: grayscale(100%);
      img {
        transform: skew(5deg) translateX(-18px);
      }
    }
  }

  .mrtTag {
    display: flex;
    justify-content: space-around;
    width: 62.5%;
    margin: auto;
    padding-inline: 2%;
    font-size: 24px;

    .title-tag {
      font-size: 18px;
      padding: 1rem 0;
      width: 12%;
      margin: 3rem auto 2rem;
      inset: 0;
      position: relative;
      background: #fff;
      display: block;
      z-index: 3;
      cursor: pointer;
      transition: all 0.3s;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        height: 95px;
        top: -190%;
        left: 50%;
      }
    }

    .red {
      &::after {
        border-left: 5px solid map-get($color, $key: danger);
      }
    }

    .blue {
      &::after {
        border-left: 5px solid map-get($color, $key: info);
      }
    }

    .green {
      &::after {
        border-left: 5px solid map-get($color, $key: success);
      }
    }

    .orange {
      &::after {
        border-left: 5px solid map-get($color, $key: tangerine);
      }
    }

    .brown {
      &::after {
        border-left: 5px solid map-get($color, $key: choco);
      }
    }

    .yellow {
      &::after {
        border-left: 5px solid map-get($color, $key: warning);
      }
    }

    .red:hover {
      background-color: map-get($color, $key: danger);
      color: #fff;
    }

    .red:hover ~ .mrtPic .pic.border-red {
      opacity: 0;
    }

    .blue:hover {
      background-color: map-get($color, $key: info);
      color: #fff;
    }

    .green:hover {
      background-color: map-get($color, $key: success);
      color: #fff;
    }

    .orange:hover {
      background-color: map-get($color, $key: tangerine);
      color: #fff;
    }

    .brown:hover {
      background-color: map-get($color, $key: choco);
      color: #fff;
    }

    .yellow:hover {
      background-color: map-get($color, $key: warning);
      color: #fff;
    }
  }
}

.mrtBanner:nth-of-type(2) {
  right: 0;
  transform: rotate(180deg);
}

.mrtBanner {
  width: 20%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  z-index: -2;

  .swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .swiper-wrapper {
      transition-timing-function: linear !important;

      .swiper-slide {
        width: 80%;
      }

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

// --------------------------------------------
.dottedLineBox {
  margin-top: 5%;

  .dottedLine {
    background: #e8e7ee;
    width: 68.45%;
    height: 6px;
    margin: auto;
  }
}
/* 站點板塊 */
.mrtWrappo {
  margin-top: 5%;
  .mrtWrap {
    .mrtSta {
      background-image: url(/public/img/mrt_smallarr.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 2% 100%;
      max-width: 1200px;
      margin: auto;
      padding: 2% 2% 0 2%;
      display: flex;
      justify-content: center;
      align-items: center;

      /* 站點文字介紹 */
      .mrtStaTxt {
        width: 34.5%;
        background-color: #ffffff;
        padding: 10px 35px 20px 35px;
        border: #c9c9c9 solid 3px;
        h2 {
          font-size: 24px;
        }
      }
      /* 站點圖跟捷運圖 */
      .mrtStaBox {
        width: 48.5%;
        display: flex;
        justify-content: end;
        align-items: center;

        .mrtStaMaruBox {
          width: 20%;
          cursor: pointer;
          .mrtStaMaru {
            width: 100%;
          }
        }
        .mrtStaPicBox {
          width: 70%;
          .mrtStaPic {
            width: 100%;
            border-radius: 50%;
            border: #c9c9c9 solid 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
              rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
          }
        }
      }
    }
    // 卡片輪播
    .swiperMRTCard {
      position: relative;
      margin: auto;
      overflow: hidden;
      width: 90%;

      .swiper-btn {
        color: #838383;
      }
      // 卡片樣式
      .card-h {
        border: none;
        box-shadow: rgba(126, 126, 126, 0.3) 0px 2px 4px,
          rgba(126, 126, 126, 0.3) 0px 7px 13px -3px,
          rgba(126, 126, 126, 0.3) 0px -3px 5px inset;
        background-color: #ffffff;
        width: 350px;
        margin: 5% 0;
        padding: 20px;
        img {
          border-radius: 0px;
        }
        .tag {
          min-height: auto;
        }

        .txt {
          margin-top: 10px;
          -webkit-line-clamp: 5;
        }
      }
    }

    .swiper-button-prev {
      position: absolute;
      right: 100%;
      margin-top: 0;
    }

    .swiper-button-next {
      position: absolute;
      margin-top: 0;
    }
  }
}

/* 站點板塊左右對調 */
.mrtWrap:nth-of-type(even) {
  .mrtSta {
    flex-direction: row-reverse;
    .mrtStaBox {
      flex-direction: row-reverse;
      justify-content: start;

      .mrtStaMaruBox {
        transform: scaleX(-1);
      }
    }
  }
}
/* 美食住宿景點卡片動態 */
.mrtCardWrap {
  display: flex;
  justify-content: center;
}
.cardSliFade-enter-active,
.cardSliFade-leave-active {
  transition: 0.8s ease;
}

.cardSliFade-enter-from,
.cardSliFade-leave-to {
  transform: translateY(-20%);
  opacity: 0;
}
.cardSliFade-leave-from .cardSliFade-enter-to {
  opacity: 1;
}
// --------------------------------------------

@media screen and (max-width: 1279px) {
  .mrtLineCheck {
    .mrtPic {
      justify-content: center;
      min-width: 300px;

      .mrtMainLine {
        width: 95%;
      }
    }

    .mrtTag {
      width: 100%;

      .title-tag {
        font-size: 16px;
        // width: 15%;
      }
    }

    .mrtGrayStyle {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .mrtLineCheck {
    .mrtTagbar {
      width: 100px;
      height: 100px;
      bottom: 8%;
    }

    .mrtPic {
      padding-block: 15px;
      min-width: 100%;
      height: 300px;

      .mrtMainLine {
        inset: 0;
        margin: 0 3%;
        width: 95%;
        z-index: 2;

        .pic {
          height: 100%;
          bottom: 0px;
        }

        a {
          height: 100%;
          bottom: 0;
        }
      }
    }

    .mrtTag {
      width: 100vw;
      max-width: 100vw;
      padding: 0% 3%;

      .title-tag {
        margin: 2rem 0.5rem;
      }

      .red {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .blue {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .green {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .orange {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .brown {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .yellow {
        &::after {
          height: 50px;
          top: -100%;
        }
      }
    }
  }
  /* 站點板塊 */
  .mrtWrappo {
    .mrtWrap {
      .mrtSta {
        /* 站點文字介紹 */
        .mrtStaTxt {
          padding: 10px 40px 20px 40px;

          p {
            font-size: 16px;
          }
        }
      }
    }
    // 卡片樣式
    .card-h {
      width: 300px;

      .txt {
        -webkit-line-clamp: 3;
      }
    }
  }
}

.mrtWrap {
  .swiperMRTCard {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .mrtLineCheck {
    .mrtTagbar {
      width: 80px;
      height: 80px;
    }

    .mrtPic {
      min-width: 100%;
      height: 200px;
    }
    .mrtTag {
      padding-inline: 0%;
      justify-content: space-evenly;
      width: 100%;

      .title-tag {
        font-size: 14px;
        width: 12%;
        padding: 0.5rem 0;
        margin: 2rem 0px;
      }

      .red {
        &::after {
          height: 50px;
          top: -150%;
        }
      }

      .blue {
        &::after {
          height: 50px;
          top: -150%;
        }
      }

      .green {
        &::after {
          height: 50px;
          top: -150%;
        }
      }

      .orange {
        &::after {
          height: 50px;
          top: -150%;
        }
      }

      .brown {
        &::after {
          height: 50px;
          top: -150%;
        }
      }

      .yellow {
        &::after {
          height: 50px;
          top: -150%;
        }
      }
    }
  }

  // .mrtWrap:nth-of-type(even) {
  //   .mrtSta {
  //     flex-direction: column-reverse;

  //     .mrtStaBox {
  //       justify-content: center;

  //       .mrtStaMaruBox {
  //         display: none;
  //       }
  //     }
  //   }
  // }

  /* 站點板塊 */
  .mrtWrappo {
    .mrtWrap {
      .mrtSta {
        background-image: url(/public/img/mrt_smallarr.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 5% 100%;
        max-width: 1200px;
        margin: auto;
        padding: 2% 2% 0 2%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        /* 站點文字介紹 */
        .mrtStaTxt {
          margin: 5% 0 20% 0;
          width: 50%;
          padding: 0px 20px 0px 20px;
          text-align: center;

          h2 {
            font-size: 20px;
          }
          p {
            display: none;
          }
        }
        /* 站點圖跟捷運圖 */
        .mrtStaBox {
          justify-content: center;
          width: 80%;

          .mrtStaMaruBox {
            display: none;
          }
        }
      }
      // 卡片輪播
      .swiperMRTCard {
        .swiper-button-prev {
          margin-left: 20px;
        }
        .swiper-button-next {
          margin-right: 20px;
        }

        // 卡片樣式
        .card-h {
          width: 70%;

          .text {
            margin-top: 0px;
            h3 {
              font-size: 18px;
              line-height: 35px;
            }
          }

          .tag {
            display: flex;
            width: 150px;
            gap: 10px;

            .title-tag {
              margin: 0px;
              padding: 2px 5px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
