.newsWrap {

  // border: 1px solid red;
  h1 {
    text-align: center;
    margin: 3rem 0 1rem 0;
  }

  container h2,
  h3 {
    margin-top: -0.5rem;
    // color: #fff;
  }

  a:hover {
    color: #999;
  }

  .newsSlider {
    display: flex;
    // flex-shrink: 1;
    // overflow-x: scroll;
    // width: 200%;
    // margin: auto;

    .newsCtx {
      // position: absolute;
      position: relative;
      // left: 10%;
      width: 100%;
      margin-top: 50px;

      .newsBackpic {
        overflow: hidden;
        // margin-top: 100px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        // border: 10px solid #aaa;
        img {
          width: 100%;
          height: 500px;
          // height: fit-content;
          filter: blur(30px);
        }
      }

      .newsBox {
        width: 1000px;
        height: 300px;
        margin: 100px auto;
        display: flex;
        justify-content: center;

        .newsCtxTxt {
          // border: 1px solid red;
          width: 40%;
          inset: 0;
          margin: auto 2rem;
          padding-left: 10%;

          .toFlex {
            display: flex;
            align-items: end;
            gap: 1rem;

            .newsTag {
              background-color: #fff;
              margin: 0;
            }

            .newsDate {
              span {
                color: #fff;
                letter-spacing: 0.25rem;
              }
            }
          }

          .titleh2 {
            color: #fff;
            font-weight: 500;
            line-height: 3.2rem;
            margin: 1rem 0;
          }

          button {
            a {
              display: block;
              line-height: 36px;
              // height: 100%;
              // border: 1px solid red;
            }
          }
        }

        .newsCtxPic {
          width: 60%;
          box-shadow: 10px 10px 10px #0006;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -5%;
            left: -2.5%;
            border: #fff9 2px solid;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .newsBtnlist {
    // border: 1px solid red;
    border-bottom: 1px solid #aaa;
    width: 1200px;
    margin: auto;
    margin-top: 5%;

    button {
      // padding: 50px;
      border-radius: 0;
      border: 1px solid #aaa;
    }
  }

  .newsList {
    // border: 1px solid red;
    width: 1200px;
    margin: 2rem auto;
    position: relative;

    .newsCard {
      border-bottom: 1px solid #aaa;
      display: flex;
      align-items: center;
      // margin-bottom: 5%;
      padding: 5% 0;

      .newsPic {
        box-shadow: 10px 10px 10px #6666;
        // width: 2%;

        img {
          width: 300px;
          height: 200px;
          vertical-align: bottom;
          object-fit: cover;
        }
      }

      a {
        position: relative;
        // width: 900px;
        // .hover-container {
          // width: 60%;


          .newsTxt {
            position: relative;
            padding-left: 3%;
            width: 900px;

            .toFlex {
              display: flex;
              align-items: end;
              gap: .5rem;

              .newsDate {
                margin-bottom: 0.8rem;

                span {
                  letter-spacing: 0.25rem;
                }
              }

              .newsTag {
                margin: 0 10px 0.8rem 0;
                // margin-right: 10px;
              }
            }
          }
        // }

        a {
          position: absolute;
          right: 0;
          top: 0%;
        }
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #fff;
      margin: 0 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 15px;
    height: 15px;
  }

  // .pagination {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin: auto;
  //   .paginationmain {
  //     cursor: pointer;
  //     width: 50px;
  //     height: 50px;
  //     border: none;
  //     background: none;
  //   }
  //   .current-page {
  //     border: 1px solid black;
  //     border-radius: 50%;
  //   }
  // }
}

@media screen and (max-width: 414px) {
  .newsWrap {
    .newsSlider {
      .newsCtx {
        .newsBox {
          // border: 1px solid red;
          width: 100%;
          flex-direction: column;

          // margin: 0;
          // margin-top: 100px;
          // text-align: left;
          .newsCtxTxt {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            padding: 0 30px;
            margin: 0 0 2rem 0;
            .toFlex{
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 0rem;
              .newsTag{
                width: 130px;
                position: relative
                // top: 0;
                // right: 0;
              }
              .newsDate{
                display: block;
                width: 100%;
                text-align: center;
                // position: absolute;
                // top: 0;
                // right: 0;
              }
            }

            .titleh2 {
              height: 36px;
              text-align: center;
              font-size: 22px;
            }

            h2 {
              // color:#fff;
              font-size: 20px;
              height: 100px;
            }

            .rwdbtn {
              display: none;
            }
          }

          .newsCtxPic {
            width: 100%;
            min-height: 200px;
            margin: 0;
            padding: 0 10%;
            box-shadow: none;
            img{
              border: 3px solid #fff;
              box-shadow: 0 5px 8px #3335;
            }

            &::after {
              // left: 0;
              display: none;
            }
          }
        }
      }
    }

    .newsBtnlist {
      width: 100%;
      border: none;
      padding: 0 15px;
      display: flex;
      justify-content: center;
      button{
        width: 150px;
      }
    }

    .newsList {
      width: 100%;

      .newsCard {
        width: 100%;
        .newsPic{
          display: none;
        }
        .hover-container{
          width: 100%;
          .newsTxt {
            width: 100%;
            padding: 0 15px;
            margin: 0;
            p {
              display: none;
            }
          }
          a{
            a{
              position: absolute;
              right: 15px;
              display: block;
              width: 130px;
              .small{
                width: 100%;
                button{
                  width: 100%;
                }
              }
            }
          }

        }
      }
    }
  }
}

//v-show="card.tag1 == tagtoggle"