.newsinWrap {
  // border: 1px solid red;
  width: 1200px;
  margin: auto;
  margin-top: 100px;

  h1 {
    border-bottom: 1px solid #aaa;
  }

  .newsinpic {
    margin-top: 100px;
    // box-shadow: 10px 10px 10px #666;

    height: 500px;

    // width: 100%;
    img {
      width: 100%;
      vertical-align: bottom;
      object-fit: cover;
      // height: 100%;
    }
  }

  .newsintxt {
    margin-top: 100px;
  }

  .newsinBtn {
    // border: 1px solid red;
    text-align: right;
    margin-top: 100px;

    button {
      margin-left: 50px;

      .btn_a {
        display: block;
        line-height: 36px;
        // height: 100%;
        // border: 1px solid red;
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #fff;
      margin: 0 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 414px) {
  .newsinWrap {
    width: 100%;
    margin-top: 50px;

    h1 {
      // width: 100%;
      font-size: 26px;
      margin: 0 1%;
    }

    .newsinpic {
      margin-top: 50px;
      // margin: 50px 1% 0 ;
      height: 200px;

      img {
        width: 100%;
        // height: 200px;
      }
    }

    .newsintxt {
      // margin-top: 50px;
      margin: 50px 3% 0;
    }

    .newsinBtn {

      // border: 1px solid red;
      a {
        display: block;
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}