.newsinWrap {
  width: 62.5%;
  margin: 5rem auto;

  h1 {
    border-bottom: 1px solid #aaa;
  }

  .newsinpic {
    margin-top: 100px;
    // box-shadow: 10px 10px 10px #666;

    height: 600px;

    // width: 100%;
    img {
      width: 100%;
      vertical-align: bottom;
      object-fit: cover;
      // height: 100%;
    }
  }

  .newsintxt {
    margin-top: 100px;
  }

  .newsinBtn {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    margin: 4rem 0 0 0;
    a .small{
      margin-right: 1rem;
    }
  }
  .swiper{
    width: 100%;
    height: 475px;
    inset: 0;
    margin: -5rem auto;
    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #fff;
        margin: 0 8px;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: #fff;
      width: 15px;
      height: 15px;
    }
  }
}
@media screen and (max-width: 1280px){
  .newsinWrap {
    width: 80%;
    margin: 5rem auto;
  }
}
@media screen and (max-width: 768px){
  .newsinWrap {
  width: 90%;
  margin: 5rem auto;
  }
}


@media screen and (max-width: 414px) {
  .newsinWrap {
    width: 100%;
    margin-top: 2rem;

    .newsinTag{
      margin: 0.5rem 0.3rem 0rem 1.3rem;
    }
    h1 {
      font-size: 26px;
      margin: 0 1.3rem;

    }

    .swiper {
      width: calc(100% - 2.6rem);
      height: 250px;
      margin: 1rem auto;
      img {
        width: 100%;
      }
    }
    .newsinpic{
      margin: 0;
      height: 100%;
    }
    .newsintxt {
      width: calc(100% - 3rem);
      margin: 2rem auto;
    }

    .newsinBtn {
      display: block;
      width: calc(100% - 2.6rem);
      margin: 4rem auto -2rem;
      

      a {
        .small{
          width: 100%;
          margin: .5rem 0;
          .btn_s{
            width: 100%;
          }
        }
        .btn_s{
          width: 100%;
        }
      }
    }
  }
}