.newsWrap {

  // border: 1px solid red;
  h1 {
    text-align: center;
    margin: 3rem 0 1rem 0;
  }

  h2,
  h3 {
    margin-top: -0.5rem;
    // color: #fff;
  }

  a:hover {
    color: #999;
  }

  .newsSlider {
    display: flex;
    // flex-shrink: 1;
    // overflow-x: scroll;
    // width: 200%;
    // margin: auto;

    .newsCtx {
      // position: absolute;
      position: relative;
      // left: 10%;
      width: 100%;
      margin-top: 50px;

      .newsBackpic {
        overflow: hidden;
        // margin-top: 100px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        // border: 10px solid #aaa;
        img {
          width: 100%;
          height: 500px;
          // height: fit-content;
          filter: blur(30px);
        }
      }

      .newsBox {
        width: 1000px;
        height: 300px;
        margin: 100px auto;
        display: flex;
        justify-content: center;

        .newsCtxTxt {
          // border: 1px solid red;
          width: 40%;
          inset: 0;
          margin: auto 2rem;
          padding-left: 10%;
            .toFlex{
              display: flex;
              align-items: end;
              gap: 1rem;
              .newsTag {
                background-color: #fff;
                margin: 0;
              }

              .newsDate {
                span {
                  color: #fff;
                  letter-spacing: 0.25rem;
                }
              }
            }
            .titleh2 {
              color: #fff;
              font-weight: 500;
              line-height: 3.2rem;
              margin: 1rem 0;
          }

          button {
            a {
              display: block;
              line-height: 36px;
              // height: 100%;
              // border: 1px solid red;
            }
          }
        }

        .newsCtxPic {
          width: 60%;
          box-shadow: 10px 10px 10px #0006;
          position: relative;

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: -5%;
            left: -2.5%;
            border: #fff9 2px solid;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .newsBtnlist {
    // border: 1px solid red;
    border-bottom: 1px solid #aaa;
    width: 1200px;
    margin: auto;
    margin-top: 5%;

    button {
      // padding: 50px;
      border-radius: 0;
      border: 1px solid #aaa;
    }
  }

  .newsList {
    // border: 1px solid red;
    width: 1200px;
    margin: 2rem auto;
    position: relative;

    .newsCard {
      border-bottom: 1px solid #aaa;
      display: flex;
      align-items: center;
      // margin-bottom: 5%;
      padding: 5% 0;

      .newsPic {
        box-shadow: 10px 10px 10px #6666;

        img {
          width: 300px;
          height: 200px;
          vertical-align: bottom;
          object-fit: cover;
        }
      }
      a{
        position: relative;
        .newsTxt {
          position: relative;
          margin-left: 3%;

          .toFlex{
            display: flex;
            align-items: end;
            gap: .5rem;
            .newsDate {
              margin-bottom: 0.8rem;
              span {
                letter-spacing: 0.25rem;
              }
            }
            .newsTag {
              margin: 0 10px 0.8rem 0;
                // margin-right: 10px;
            }
          }
        }
        a{
          position: absolute;
          right: 0;
          top: 0%;
        }
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #fff;
      margin: 0 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 414px) {
  .newsWrap {
    .newsSlider {
      .newsCtx {
        .newsBox {
          // border: 1px solid red;
          width: 100%;
          flex-direction: column;

          // margin: 0;
          // margin-top: 100px;
          // text-align: left;
          .newsCtxTxt {
            // border: 1px solid red;
            width: 100%;
            padding: 0 45px;
            margin: 0;

            a {
              // display: none;
            }

            .titleh2 {}

            h2 {
              // color:#fff;
              font-size: 20px;
              height: 100px;
            }

            .rwdbtn {
              display: none;
            }
          }

          .newsCtxPic {
            width: 100%;
            min-height: 200px;
            margin: 0;
            padding: 0 10%;
            box-shadow: none;

            &::after {
              // left: 0;
              display: none;
            }
          }
        }
      }
    }

    .newsBtnlist {
      width: 100%;
      border: none;
      // text-align: center;
      // margin: 5% 10% 0;
      padding: 0 30px;
    }

    .newsList {
      width: 100%;

      .newsCard {
        width: 100%;
        // margin: auto;

        .newsTxt {
          width: 100%;
          padding: 0 30px;
          // margin: 0 40px;
          margin: 0;
          // text-align: center;

          p {
            display: none;
          }

          .btn_s {
            display: none;
          }
        }

        .newsPic {
          display: none;
        }
      }
    }
  }
}

.easeInOut{
  animation: opaIn .3s ease 0;
}

//v-show="card.tag1 == tagtoggle"