.registerWrap {
  // border: 1px solid red;
  // width: 1200px;
  width: 60%;
  margin: 2.5em auto;
  display: flex;
  justify-content: center;

  .registerPic {
    border: 1px solid #aaa;
    position: relative;
    left: 50px;
    border-radius: $border-radius;

    img {
      border-radius: $border-radius;
      height: 100%;
      vertical-align: bottom;
    }
  }

  .registerText {
    border: 1px solid #aaa;
    border-radius: $border-radius;
    position: relative;
    right: 50px;
    background-color: #fff;

    button {
      cursor: pointer;
    }

    h1 {
      width: 80%;
      margin: auto;
      text-align: left;
      font-size: map-get($map: $fontsizes, $key: h1);
      margin-top: 100px;
    }

    .regForm {
      // border: 1px solid red;
      // width: 80%;
      // margin: auto;
      margin-top: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 50px);
      align-items: center;
      justify-items: left;
      gap: 50px;
      padding: 0 50px;

      label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
        font-size: 18px;
      }

      input {
        // border-radius: 20px;
        font-size: 18px;
        border: transparent;
        border-bottom: 1px solid #000;
        width: 100%;
        padding-block: 0.5rem;
      }

      .registerBir {
        width: 100%;
      }

      .registerGender {
        display: flex;
        width: 100%;
        height: 100%;

        select {
          font-size: 18px;
          margin: 0 1rem;
          width: 100px;
          // height: 100px;
        }
      }

      .registerEmail {
        // border: 1px solid red;
        width: 100%;
        grid-area: 3/1/4/3;
      }

      .registerPwd {
        width: 100%;
        grid-area: 4/1/5/3;
      }

      .registerCheck {
        width: 100%;
        grid-area: 5/1/6/3;
      }

      button {
        inset: 0;
        margin: auto;
        grid-area: 6/1/7/3;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .registerWrap {
    width: 100%;

    .registerPic {
      display: none;
    }

    .registerText {
      inset: 0;

      h1 {
        width: 100%;
        text-align: center;
        margin-top: 60px;
      }

      .regForm {
        margin: 5rem 0;
        gap: 30px;

        label {
          display: block;
          text-align: left;
          margin-bottom: 10px;
          font-size: 18px;
        }

        input {
          // border-radius: 20px;
          font-size: 18px;
          padding: 0.2rem;
        }

        .registerBir {
          width: 100%;
        }

        .registerGender {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          select {
            font-size: 18px;
            margin: 0;
            width: 60%;
          }
        }
      }
    }
  }
}
